// /**
//  * Copyright © 2015 Magento. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//    Common
//--------------------------------------

& when (@media-common = true) {

    //
    //    Newsletter subscription
    //--------------------------------------
    .newsletter-block{
        text-align: center;
        width: auto !important;
        float: none !important;
        margin-left: 0 !important;
    }
    .block.newsletter {
            margin-bottom: 0;
            width: 100% !important;
            .form.subscribe {
                display: block;
                width: 100%;
            }
            .fieldset {
                display: table-cell;
                margin: 0;
                padding: 0;
                vertical-align: top;
            }
            .field {
                margin: 0;
                display: block;
                .control {
                    .lib-icon-font(
                        @icon-envelope,
                        @_icon-font-size: 16px,
                        @_icon-font-line-height: 32px,
                        @_icon-font-color: @form-element-input-placeholder__color,
                        @_icon-font-margin: 0 0 0 8px
                        );
                    &:before {
                        position: absolute;
                        display: none;
                    }
                }
            }
            .content {
                .control{
                input {
                    padding-left: 15px;
                    border-radius: 0;
                    outline: 0;
                    width: 250px;
                    border: 0;
                    &:focus {
                        box-shadow: none;
                    }
                }           
            }
        }

        .title {
            display: none;
        }
        .label {
            display: block;
            line-height: 37px;
            margin-right: 5px;
            span{
                color: #fff;
                font-size: 13px;
                font-weight: 700;
            }
        }
        .actions {
            display: block;
            vertical-align: top;
        }
        .action.subscribe {
            border-radius: 0;
            margin-left: 0;
            font-size: 13px;
        }
    }
    div.mage-error[generated]{
        text-align: left;
        font-size: 12px;
    }
}
//
//    Mobile
//--------------------------------------
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .block.newsletter {
        .field .control{
            margin-bottom: 5px;
        }
    }
}

//
//    Desktop
//--------------------------------------
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .block.newsletter {
        width: 34%;
        .label,
        .actions,
        .field,
        .field .control{
            display: inline-block;
            vertical-align: top;
        }
    }
}
