// /**
//  * Copyright © 2015 Magento. All rights reserved.
//  * See COPYING.txt for license details.
//  */

@legend-border-bottom: 1px solid @color-gray-light6;
@form-field__vertical-indent__desktop: 29px;
@form-calendar-icon__color: @primary__color;

//
//    Common
//--------------------------------------

& when (@media-common = true) {

    .fieldset {
        .lib-form-fieldset();
        &:last-child {
            margin-bottom: 0;
        }
        > .field,
        > .fields > .field {
            .lib-form-field();
            &.no-label {
                > .label {
                    .lib-visually-hidden();
                }
            }
            &.choice {
                .label {
                    font-weight: normal;
                    margin: 0;
                    display: inline;
                }
            }
            .label {
                .column:not(.main) & {
                    font-weight: normal;
                }
            }
            .field.choice {
                margin-bottom: @indent__s;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
    .legend + .fieldset,
    .legend + div {
        clear: both;
    }
    .legend {
        span {
            margin-right: @indent__xs;
        }
    }
    fieldset.field {
        border: 0;
        padding: 0;
    }
    .field.date {
        .time-picker {
            white-space: nowrap;
            margin-top: @indent__s;
            display: inline-block;
        }
    }

    .select-styling() {
        .lib-css(appearance, none, 1);
        appearance: none;
        border: 1px solid @border-color__base;
        height: 32px;
        background: @select__background url('../images/select-bg.svg') no-repeat 100% 48%;
        background-size: 30px 60px;
        padding-right: 25px;
        text-indent: .01em;
        text-overflow: '';
        &::-ms-expand{
            display:none;
        }
        .lt-ie10 & {
            background-image: none;
            padding-right: 4px;
        }
    }

    select {
        .select-styling();
    }

    div.mage-error[generated] {
        margin-top: 7px;
    }

// TEMP

.field .tooltip {
    .lib-tooltip(right);
    .tooltip-content {
        min-width: 200px;
        white-space: normal;
    }
}

input:focus ~ .tooltip .tooltip-content,
select:focus ~ .tooltip .tooltip-content {
    display: block;
}

.hasDatepicker {
    + .ui-datepicker-trigger {
        .lib-button-reset();
        .lib-icon-font(
            @_icon-font-content: @icon-calendar,
            @_icon-font-color: @primary__color__lighter,
            @_icon-font-size: @icon-calendar__font-size,
            @_icon-font-line-height: @icon-calendar__font-size,
            @_icon-font-display: block,
            @_icon-font-text-hide: true
            );
        display: inline-block;
        vertical-align: middle;
        &:focus {
            box-shadow: none;
            outline: 0;
        }
    }
}

//
//    Sidebar forms
//--------------------------------------
.sidebar {
    .fieldset {
        margin: 0;
        > .field:not(.choice) >,
        .fields > .field {
            &:not(:last-child) {
                margin: 0 0 @form-field__vertical-indent;
            }
            .label {
                margin: 0 0 4px;
                padding: 0 0 @indent__xs;
                text-align: left;
                width: 100%;
            }
            .control {
                width: 100%;
            }
        }
    }
}

}

//Header Search
.page-header.type2  {
.block-search{
    margin-left: 0;
    width:100% !important;
    .form.minisearch {
        .control {
            .input-group {
                background: rgba(255,255,255,0.8);
                width: 100%;
                float: left;
                border: 1px solid rgba(0, 0, 0, 0.5);
                border-radius: 7px;
                height: 50px;
                input {
                    position: static;
                    margin: 0;
                    border-color: transparent;
                    height: 50px;
                    border-radius: 0;
                    padding: 10px 50px 10px 20px;
                    background: transparent;
                    outline: none;
                    color:#555;
                    &::placeholder {
                        color:#999;
                    }
                    &:focus {
                        box-shadow: none;
                        outline: 0;
                    }
                }
                .input-group-btn.search-category {
                    min-width: 130px;
                }
                .input-group-btn {
                    .btn {
                        background: #cc4a50;
                        float: right;
                        margin-right: -1px;
                        padding: 7px 13px;
                        width: 50px;
                        font-size: 13px;
                        height: 50px;
                        color:#fff;
                        border:0;
                        border-radius: 7px;
                    }
                    select {
                        border:0;
                        color:#555;
                        height: 50px;
                        background: transparent;
                        &:focus {
                            box-shadow: none;
                            outline: 0;
                        }
                    }
                }
            }
        }
    }
}
}

//Uniform-forms
.form.form-shipping-address,
.form-login,
.review-form,
.uniform-form {
    width: 100%;
    .fieldset {
        h4 {
            color:@color-theme-blue;
            font-weight: bold;
            font-size: 1rem;
            margin-bottom: 0;
        }
        p {
            color:@color-theme-blue;
            font-size: 0.9rem;
        }
        .field {
            margin-bottom: 5px;
            label,
            .label {
                font-size: 1rem;
            }
            select,
            textarea,
            input {
                border-radius: 0;
                &:hover,
                &:focus {
                    outline: 0;
                    box-shadow: none;
                }
            }
            div.mage-error[generated] {
                margin-top:0;
                font-size: 0.9rem;
            }
        }

    }

    .actions-toolbar {
        padding: 0;
        .secondary {
            float: left;
        }
        .action.primary {
            font-size: 1rem;
            border-radius:0;
            float: right;
            background: @color-theme-blue;
            border-color: @color-theme-blue;
            &:hover {
                background: @color-theme-blue-dark;
            }
        }
    }
}
.review-form {
    max-width: 100%;
}

//
//    Desktop
//--------------------------------------
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .legend {
        .lib-css(border-bottom, @legend-border-bottom);
    }
}
