<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
// @codingStandardsIgnoreFile
?>
<?php
/** @var $block \Magento\Framework\View\Element\Template */
/** @var $helper \Magento\Search\Helper\Data */
$helper = $this->helper(\Magento\Search\Helper\Data::class);
$searchHelper = $this->helper(\Uniform\Republic\Helper\SearchCity::class);
$cities = $searchHelper->getCities();
?>
<div class="block block-search">
    <div class="block block-title"><strong><?= /* @escapeNotVerified */ __('Search') ?></strong></div>
    <div class="block block-content">
        <form class="form minisearch" id="search_mini_form" action="<?= /* @escapeNotVerified */ $helper->getResultUrl() ?>" method="post">
            <div class="field search">
                <label class="label" for="search" data-role="minisearch-label">
                    <span><?= /* @escapeNotVerified */ __('Search') ?></span>
                </label>
                <div class="control">
                    <div class="input-group">
                        <div class="search-category input-group-btn" > 
                           <!-- <select id="mpsearch-category" onchange="jQuery('#search_hidden').val(jQuery('#mpsearch-category').val());">
                                <option value="">Search By Cities</option>
                                <option value=''>&nbsp;</option>
                                <?php
                                if (count($cities['cities']) > 0):
                                    foreach ($cities['cities'] as $key => $city):
                                        $selected = '';
                                        if ($city == $cities['user_city']):
                                            $selected = 'selected="selected"';
                                        endif;
                                        ?>
                                        <option value="<?php echo $key; ?>" <?php echo $selected; ?>><?php echo $city; ?></option>
                                        <?php
                                    endforeach;
                                endif;
                                ?>
                            </select>-->
                        </div>
                        <input type="hidden" name="<?= /* @escapeNotVerified */ $helper->getQueryParamName() ?>" id="search_hidden" />
                        <input id="search"                              
                               type="text"
                               name="search"
                               value=""
                               placeholder="<?= /* @escapeNotVerified */ __('Search by school, College and Area...') ?>"
                               class="input-text"                               
                               autocomplete="off"/>
                        <div id="search_autocomplete" class="search-autocomplete" onblur="jQuery('#search_hidden').val(jQuery('#search').val());"></div>
                        <?= $block->getChildHtml() ?>
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">Go!</button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="actions">
                <button type="submit"
                        title="<?= $block->escapeHtml(__('Search')) ?>"
                        class="action search">
                    <span><?= /* @escapeNotVerified */ __('Search') ?></span>
                </button>
            </div>
        </form>
    </div>
</div>
