<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
// @codingStandardsIgnoreFile
?>
<form class="form contact uniform-form"
      action="<?php echo $block->getFormAction(); ?>"
      id="contact-form"
      method="post"
      data-hasrequired="<?php echo __('* Required Fields') ?>"
      data-mage-init='{"validation":{}}'>
    <fieldset class="fieldset">
        <fieldset class="fieldset row">
            <div class="fields">
                <div class="field name required col-sm-12">
                    <label class="label col-md-2 text-right" for="name"><span><?php echo __('Your Name') ?></span></label>
                    <div class="control col-md-10">
                        <input name="name" id="name" title="<?php echo __('Your Name') ?>" value="<?php echo $block->escapeHtml($this->helper('Magento\Contact\Helper\Data')->getUserName()) ?>" class="input-text" type="text" data-validate="{required:true}"/>
                    </div>
                </div>
                <div class="field email required col-sm-12">
                    <label class="label col-md-2 text-right" for="email"><span><?php echo __('E-Mail Address') ?></span></label>
                    <div class="control col-md-10">
                        <input name="email" id="email" title="<?php echo __('E-Mail Address') ?>" value="<?php echo $block->escapeHtml($this->helper('Magento\Contact\Helper\Data')->getUserEmail()) ?>" class="input-text" type="email" data-validate="{required:true, 'validate-email':true}"/>
                    </div>
                </div>

                <div class="field comment required col-sm-12">
                    <label class="label col-md-2 text-right" for="comment"><span><?php echo __('Enquiry') ?></span></label>
                    <div class="control col-md-10">
                        <textarea name="comment" id="comment" title="<?php echo __('Enquiry') ?>" class="input-text" cols="5" rows="8" data-validate="{required:true}"></textarea>
                    </div>
                </div>
<?php  echo $block->getChildHtml('form.additional.info'); ?>
            </div>
        </fieldset>
    </fieldset>
    <div class="actions-toolbar pull-right">
        <div class="primary">
            <input type="hidden" name="hideit" id="hideit" value="" />
            <button type="submit" title="<?php echo __('Submit') ?>" class="action submit primary">
                <span><?php echo __('Submit') ?></span>
            </button>
        </div>
    </div>
</form>
