<?php
$categories = $this->getCategoryCollection();
$categoryHelper = $this->getCategoryHelper();
?>
<div class="brands-slide school-slide">
    <h2 class="filterproduct-title" style="margin-bottom: 4px;"><span class="content"><strong>Schools</strong></span><span class="title_line"></span></h2>
    <div id="school-slide" class="school-slider">
        <div class="owl-carousel owl-middle-narrow">
            <?php
            foreach ($categories as $category):
                $cat = $this->getCategorymodel($category->getId());
                $image = $cat->getImageUrl();
                ?>
                <?php if ($image != null): ?>
                    <div class="owl-item"><a href="<?php echo $cat->getUrl(); ?>"><img class="img-responsive" src="<?php echo $image; ?>" alt="<?php echo $cat->getName(); ?>" /></a></div>
                        <?php endif; ?>
                    <?php endforeach; ?>
        </div>
    </div>
</div>
<script type="text/javascript" xml="space">// <![CDATA[
         require([
         'jquery',
         'owl.carousel/owl.carousel.min'
         ], function ($) {
         $("#school-slide .owl-carousel").owlCarousel({
         autoplay: true,
         autoplayTimeout: 5000,
         autoplayHoverPause: true,
         margin: 20,
         nav: true,
         navText: ["<em class='porto-icon-left-open-big'></em>","<em class='porto-icon-right-open-big'></em>"],
         dots: false,
         loop: true,
         responsive: {
         0: {
         items:2
         },
         640: {
         items:3
         },
         768: {
         items:4
         },
         992: {
         items:4
         },
         1200: {
         items:6
         }
         }
         });
         });
// ]]></script>