/**
 * WARNING: Do not change this file. Your changes will be lost.
 * 2019-02-02 14:25:32 */
body.boxed {
}
@media (min-width: 768px) {
    .page-layout-1column .product-info-main, .page-layout-2columns-left .product-info-main, .page-layout-2columns-right .product-info-main, .page-layout-3columns .product-info-main {
        width: 49%;
    }
    .page-layout-1column .product.media, .page-layout-2columns-left .product.media, .page-layout-2columns-right .product.media, .page-layout-3columns .product.media {
        width: 49%;
    }
}

.logo {margin:0;}
.logo img{ width:100%;}
.page-header.type2 .block-search input::placeholder {
  color: #888;
}
.page-header.type2 .block-search input {
background: rgba(255,255,255,0.8);
width: 100%;
float: left;
border: 1px solid rgb(104, 107, 109);
border-radius: 7px;
height: 50px;
color:#555;
outline:none;
}
.block .block-title {font-weight:bold; font-size:16px;}
.footer-bottom address {float:left;}
.header.content {padding:4px 15px;}
.page-header.type2 > .panel.wrapper {display:none;}
.testimonial .owl-item .test_holder {
    background: #f5f5f5 none repeat scroll 0 0;
    box-shadow: 0 1px 2px #999999;
    margin: 5px;
    min-height: 160px;
    padding: 15px;
    width: 365px !important;
    display: inline-block;
    margin-bottom: 10px;
}
.page-title-wrapper .page-title{display:none;}
.testimonial .owl-item .test_holder test_content {
    text-align: center;
    min-height: 60px;
    font-size: 14px;
    color: #888;
}

.testimonial .owl-item .test_holder .test_title {
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
}
.footer-bottom{min-height:none;line-height:none;padding:0;}
.footer-top .container,
.footer-bottom .container {padding:10px; background-color:#0F212E;}
.footer-bottom .social-icons{margin-right:0;}
button.action.primary{font-size: 15px;}
#wk_rma_new_request{    border-radius: 5px;}
#wk_rma_new_request a{font-size: 13px;padding: 12px 10px;}
