<div class="soldBy-container">
    <div class="p_info_title"> Sold By :</div>
    <div class="p_info_content">
        <ul class="nav nav-tabs pro_size" role="tablist">
            <li role="presentation" class="active">
                <a href="#size_advisor" aria-controls="home" role="tab" data-toggle="tab" aria-expanded="true">Size
                    Advisor</a>
            </li>
            <li role="presentation" class="">
                <a href="#size_chart" aria-controls="profile" role="tab" data-toggle="tab" aria-expanded="false">Size
                    Chart</a>
            </li>
        </ul>
        <div class="tab-content product-tab">
            <div role="tabpanel" class="tab-pane active" id="size_advisor">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 no-margin size-advisor">
                    <img src="http://uniformrepublic.com/image/cache/catalog/AA chart/final TSHIRT-228x228.jpg"
                         class="img-responsive">
                </div>

                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="pro-info">
                        <div class="enter_size">
                            <div class="text">
                                Enter Your Shoulder (Inch)
                            </div>
                            <div class="size_box">
                                <input type="text" name="sizeck" size="5" id="size_option" class="editable focusField">
                            </div>
                        </div>

                        <div class="clearfix"></div>
                        <div class="enter_size">
                        </div>
                    </div>
                    <span id="suc"><div class="warning" style="display: block;">Size entered by you seems to be incorrect or unavailable with us<img
                                    src="catalog/view/theme/default/image/close.png" alt="" class="close"></div></span>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="size_chart">
                <img src="http://uniformrepublic.com/image/cache/catalog/new/Rayn/Ryan Uniform chat/PT T-shirt-530x193.jpg"
                     class="img-responsive">
            </div>
        </div>
    </div>
</div>
