<?php
$sizeAdvisorProduct = $this->getSizeAdvisor();
if (is_object($sizeAdvisorProduct) && !empty($sizeAdvisorProduct->getSizechartImage())):
?>
<div class="admin__field" style="margin-left: 300px;">
    <img src="/pub/media/size_chart/<?php echo $sizeAdvisorProduct->getSizechartImage(); ?>" width="100" id="chart_img" />
    <a href="javascript:void(0)" onclick="jQuery('#chart_img').attr('src', '');jQuery('#size_chart_image_remove').val(1);">Remove</a>
     <input data-form-part="product_form" type="hidden" id="size_chart_image_remove" name="product[size_chart_image_remove]" />
</div>
<?php endif; ?>