<?php
$sizeAdvisorProduct = $this->getSizeAdvisor();
if (is_object($sizeAdvisorProduct) && !empty($sizeAdvisorProduct->getImageAdvisor())):
?>
<div class="admin__field" style="margin-left: 300px;">
    <img src="/pub/media/size_advisor/<?php echo $sizeAdvisorProduct->getImageAdvisor(); ?>" width="100" id="adv_img" />
    <a href="javascript:void(0)" onclick="jQuery('#adv_img').attr('src', '');jQuery('#size_advisor_image_remove').val(1);">Remove</a>
     <input data-form-part="product_form" type="hidden" id="size_advisor_image_remove" name="product[size_advisor_image_remove]" />
</div>
<?php endif; ?>
<?php
if ($sizeAdvisorProduct->getSizechartId()):
?>
<script type="text/javascript">
//    jQuery('select[name="product[size_advisor]"]').change(function() {
//        alert(jQuery(this).val());
//    });
    jQuery('select[name="product[size_advisor]"]').val(<?php echo $sizeAdvisorProduct->getSizechartId(); ?>);
    jQuery('#size_advisor_hidden').val(<?php echo $sizeAdvisorProduct->getSizechartId(); ?>);
</script>

<?php
endif;
?>
<script type="text/javascript">
    jQuery('select[name="product[size_advisor]"]').change(function() {
        jQuery('#size_advisor_hidden').val(jQuery(this).val());
    });
   // jQuery('select[name="product[size_advisor]"]').val(<?php echo $sizeAdvisorProduct->getSizechartId(); ?>);
</script>
<input data-form-part="product_form"  type="hidden" id="size_advisor_hidden" name="product[size_advisor_hidden]" />
<hr>