<?php $this_rma = $block->getRmaDetail();
	$id = $this_rma->getRmaId();
?>
	<div class="page-title">
		<h1><?php echo __("Shipping Label"); ?>
			<span style="float:right;">#<?php echo $this_rma->getIncrementId()."-".$id; ?></span>
		</h1>
	</div>
	<div class="dashboard">
		<div class="box-account box-info wk_rma_bigbox">
			<div class="box-content">
		<?php 	$label = $block->getRmaShippingLabelModel($this_rma->getShippingLabel());?>
				<div class="shipping_label_each">
					<img src="<?php echo $block->getLabelBaseUrl().$label->getFilename(); ?>" class="shipping_label_img"/>
				</div>
<?php 			$filename = $block->getBarBaseUrl().$id.".gif";
				echo "<img class='wk_barcode_images' alt='image' src='".$filename."'/>";							?>
        	</div>
	        <div class="col2-set" style="clear:both;">
			    <div class="col-1">
			        <div class="box">
			            <div class="box-title">
			                <h3><?php echo __("Order Id"); ?></h3>
			            </div>
			            <div class="box-content">
			                <p>#<?php echo $this_rma->getIncrementId(); ?></p>
			            </div>
			        </div>
			    </div>
		        <div class="col-2">
			        <div class="box">
			            <div class="box-title">
			                <h3><?php echo __("Return Product Id"); ?></h3>
			            </div>
			            <div class="box-content">
			                <p>#<?php echo $this_rma->getIncrementId()."-".$id; ?></p>
			            </div>
			        </div>
	            </div>
		    </div>
		    <div class="col2-set">
		        <div class="col-1">
			        <div class="box">
			            <div class="box-title">
			                <h3><?php echo __("Created On"); ?></h3>
			            </div>
			            <div class="box-content">
			                <p><?php echo date("Y-m-d g:i:s a", $block->getTimestamp($this_rma->getCreatedAt()));  ?></p>
			            </div>
			        </div>
	            </div>
		    </div>
	    </div>
	    <h2 class="table-caption"><?php echo __("Item(s) Requested for Return Product"); ?></h2>
	    <table class="data-table" id="item_table">
		    <thead>
		        <tr>
		            <th><?php echo __("Product Name"); ?></th>
		            <th><?php echo __("SKU"); ?></th>
		            <th class="a-right"><?php echo __("Return Qty"); ?></th>
		            <th class="a-right"><?php echo __("Reason"); ?></th>
		        </tr>
		    </thead>
		    <?php 	$orderItems = $block->getItemCollection($id);
		foreach($orderItems as $item){
			$mage_item = $block->getSalesOrderItemDetail($item->getItemId());
			if($mage_item->getProductType()!=='downloadable' && $mage_item->getProductType()!=='virtual'):
			$product = $block->getProductDetail($mage_item->getProductId());
			$reason = $block->getReason($item->getReasonId())->getReason();
			if (!$reason) {
				$reason = $item->getRmaReason();
			} ?>
    		<tbody>
	            <tr>
				    <td><h3 class="product-name"><?php echo $product->getName(); ?></h3></td>
				    <td><?php echo $product->getSku(); ?></td>
				    <td class="a-right">
<?php 					echo $item->getQty(); ?>
                    </td>
				    <td class="a-right">
<?php					echo $reason; ?>
                    </td>
				</tr>
            </tbody>
        <?php endif; ?>
<?php 	} ?>
        </table>
	</div>
<script>
require([
        "jquery",
    ], function($){
	    	'use strict';
			window.print();
	    });
</script>
