<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<script>
    document.title = 'Magento Setup - 401 Unauthorized Access';
</script>
<section class="page-landing">
    <img class="logo" src="<?= $this->basePath() ?>/pub/images/uniform_logo.jpg" alt="Magento"/>
    <p class="text-welcome">
        Welcome to Magento Admin, your online store headquarters.
        <br>
        To use the Magento setup wizard sign into your Admin account and navigate to System => Tools => Web Setup Wizard
    </p>
</section>
