<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<a class="link-copyright" href="#" title="<?= /* @escapeNotVerified */ __('Vunya') ?>"></a>
<?= /* @escapeNotVerified */ __('Copyright &copy; %1 Vunya Infotech PVT LTD. All rights reserved.', date('Y')) ?>
<style type="text/css">
    .link-account-activity {display:none;}
    .link-report{display:none;}
    .footer-legal-system col-m-6 {display:none;}

</style>
