<?php
/** @var $block \Uniform\Republic\Block\Product\SizeAdvisor */
$sizeChartProduct = $block->getSizeChartProduct();
if ($sizeChartProduct->getId()):?>
    <div class="soldBy-container">
        <div class="p_info_title"> <?php echo __( 'Sold By :' ); ?> </div>
        <div class="p_info_content">
            <ul class="nav nav-tabs pro_size" role="tablist">
                <li role="presentation" class="active">
                    <a href="#size_advisor" aria-controls="home" role="tab" data-toggle="tab" aria-expanded="true">
                        <?php echo __( 'Size Advisor' ); ?></a>
                </li>
                <li role="presentation" class="">
                    <a href="#size_chart" aria-controls="profile" role="tab" data-toggle="tab" aria-expanded="false">
                        <?php echo __( 'Size Chart' ); ?>
                    </a>
                </li>
            </ul>
            <div class="tab-content product-tab">
                <div role="tabpanel" class="tab-pane active" id="size_advisor">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 no-margin size-advisor">
                        <img src="<?php echo $this->getMediaUrl() . 'size_advisor/' . $sizeChartProduct->getImageAdvisor(); ?>"
                             class="img-responsive">
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="pro-info">
                            <div class="enter_size">
                                <div class="text"><?php echo __( 'Enter Your input' ); ?>
                                </div>
                                <div class="size_box">
                                    <input type="text" name="sizeck" size="5" id="size_option"
                                           class="editable focusField">
                                </div>
                            </div>

                            <div class="clearfix"></div>
                            <div class="enter_size">
                            </div>
                        </div>
                        <span id="suc">
                        <div id="error-tooltip" style="display:none;">
                          <div class="warning" style="display: block;"
                               onclick="jQuery('#error-tooltip').css('display', 'none');"></div>
                            <span class="tooltip-content">Size entered by you seems to be incorrect or unavailable with us</span>
                        </div>
                        </span>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="size_chart">
                    <img src="<?php echo $this->getMediaUrl() . 'size_chart/' . $sizeChartProduct->getSizechartImage(); ?>"
                         class="img-responsive">
                </div>
            </div>
        </div>
    </div>
    <div>
        <ul>
            <?php if(!empty($block->getAssociatedProduct())) {
            foreach ($block->getAssociatedProduct() as $child) { ?>
                <li class="myli" id="div<?php echo $child->getId() ?>" style="display:none;list-style:none">
                    <?php
                    $productStockObj = $block->getStockData()->getStockItem( $child->getId() );
                    echo "<p>We have <strong>" . round( $productStockObj->getData( 'qty' ) ) . "</strong> items in stock!</p>";
                    ?>
                </li>
            <?php } ?>
        </ul>
        <?php } else {
            $productStockObj = $block->getStockData()->getStockItem( $product->getId() );
            echo "<p>We have <strong>" . round( $productStockObj->getData( 'qty' ) ) . "</strong> items in stock!</p>";
        } ?>
    </div>

    <script type="text/javascript">
        var sizeChartValues = jQuery.parseJSON('<?php echo $block->getChilds(); ?>');
        //console.log(sizeChartValues);
    </script>
    <script type="text/javascript">
        require([
            'jquery'
        ], function ($) {
            jQuery('#size_option').blur(function () {
                jQuery('#error-tooltip').css('display', 'none');
                changeSwatch();
            });

            jQuery('#size_option').keypress(function (e) {
                jQuery('#error-tooltip').css('display', 'none');
                if (e.which == 13) {
                    changeSwatch();
                }
            });

            function changeSwatch() {
                var value = jQuery.trim(jQuery('#size_option').val());
                if (value != '') {
                    if (Object.keys(sizeChartValues).length > 0) {
                        let sizeValue = false;
                        for (size in sizeChartValues) {
                            if (sizeChartValues[size].check_size === value) {
                                sizeValue = sizeChartValues[size].attribute_value;
                                if (jQuery('div[option-label=' + sizeValue + ']').length
                                    && !jQuery('div[option-label=' + sizeValue + ']').hasClass('selected')) {
                                    jQuery('div[option-label=' + sizeValue + ']').trigger('click');
                                }
                            }
                        }
                        if (!sizeValue) {
                            jQuery('#error-tooltip').css('display', 'block');
                        }
                    } else {
                        jQuery('#error-tooltip').css('display', 'block');
                    }
                } else {
                    jQuery('#error-tooltip').css('display', 'block');
                }
            }
        });
    </script>
<?php endif; ?>
<script type="text/javascript">
    requirejs(['jquery', 'underscore'], function (jQuery, _) {
        jQuery(window).load(function () {
            jQuery(".product-options-wrapper div").click(function () {
                selpro();
            });
        });

        function selpro() {
            var selected_options = {};
            jQuery('div.swatch-attribute').each(function (k, v) {
                var attribute_id = jQuery(v).attr('attribute-id');
                var option_selected = jQuery(v).attr('option-selected');
                //console.log(attribute_id, option_selected);
                if (!attribute_id || !option_selected) {
                    return;
                }
                selected_options[attribute_id] = option_selected;
            });

            var product_id_index = jQuery('[data-role=swatch-options]').data('mageSwatchRenderer').options.jsonConfig.index;
            var found_ids = [];
            //console.log(product_id_index);
            jQuery.each(product_id_index, function (product_id, attributes) {
                //console.log(product_id);
                var productIsSelected = function (attributes, selected_options) {
                    return _.isEqual(attributes, selected_options);
                }
                if (productIsSelected(attributes, selected_options)) {
                    found_ids.push(product_id);
                }
            });

            //console.log(found_ids);

            if (found_ids.length) {
                var selected_product_id = found_ids[0];
                jQuery('.myli').css('display', 'none');
                jQuery('#div' + selected_product_id).toggle();
            }
        }
    });
</script>
