/* For RTL Only */
body{direction:rtl;unicode-bidi:embed}
select {
    background-position: 0 48%;
}
input.swatch-input {
    right: -1000px !important;
    left: auto !important;
}
/* For RTL Only */
.action.compare.no-display {
    display: none !important;
}
.action.compare:hover .counter.qty, .filter-options-content a:hover .count {
    text-decoration: underline;
}
.action.compare .counter.qty, .link.wishlist .counter.qty, .filter-options-content .count, .data.switch .counter {
    display: inline-block;
}
body > p {
    display: none;
}
.toolbar .modes > a {
    text-decoration: none;
}
.message {
    padding-right: 45px !important;
    padding-left: 22.5px !important;
}
.message > *:first-child:before {
    left: auto !important;
    right: 0 !important;
}
.fieldset > .field .fields.group .field, .fieldset > .fields > .field .fields.group .field {
    float: right;
}
@media (min-width: 1200px) {
    .col-lg-2-4 {
        width: 20%;
    }
    .col-lg-9-6 {
        width: 80%;
    }
}
@media (max-width: 1199px) {
    .container {
        width: 100%;
    }
}
@media (min-width: 768px) {
    .layout-1280 .navigation, .layout-1280 .page-wrapper > .breadcrumbs .items, .layout-1280 .page-header .header.panel, .layout-1280 .header.content, .layout-1280 .footer.content, .layout-1280 .page-wrapper > .widget, .layout-1280 .page-wrapper > .page-bottom, .layout-1280 .block.category.event, .layout-1280 .top-container, .layout-1280 .page-main {
        max-width: 1280px;
    }
    .layout-1280 .container {
        width: 1280px;
        max-width: 100%;
    }
    .page-layout-3columns .columns .sidebar-main {
        float: right;
    }
    .page-layout-3columns .columns .sidebar-additional {
        float: left;
    }
    .page-layout-2columns-left .columns .column.main {
        float: left;
    }
    .page-layout-2columns-left .columns .sidebar-main {
        float: right;
    }
    .page-layout-2columns-left .columns .sidebar-additional {
        float: right;
        padding-left: 2%;
        padding-right: 0;
        clear: right;
        float: right;
    }
    .page-layout-2columns-right .columns .column.main {
        float: right;
    }
    .page-layout-2columns-right .columns .sidebar-main {
        float: left;
        padding-left: 0;
        padding-right: 2%;
    }
    .page-layout-2columns-right .columns .sidebar-additional {
        float: left
    }
	.product.data.items > .data.item.title {
		float: right;
	}
	.product.data.items > .data.item.content {
		float: left;
		margin-left: 0;
		margin-right: -100%;
	}
}
.btn-default {
    color: #fff;
    font-weight: 400;
    background-image: none;
    background-color: #08c;
    text-shadow: none;
    border: 0;
    opacity: 1;
    filter: alpha(opacity=100);
}
.homepage-bar {
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    background-color: #fbfbfb;
}
.homepage-bar .col-md-4 {
    border-right: 1px solid #e1e1e1;
    padding-top: 20px;
    padding-bottom: 21px;
}
.homepage-bar .col-md-4:first-child {
    border-right: 0;
}
.homepage-bar [class*=" porto-icon-"], .homepage-bar [class^="porto-icon-"] {
    font-size: 34px;
    color: #000;
    display: inline-block;
    vertical-align: middle;
}
.homepage-bar .text-area {
    display: inline-block;
    vertical-align: middle;
    text-align: right;
    margin-right: 5px;
}
.homepage-bar h3 {
    color: #313131;
    font-size: 16px;
    font-weight: 600;
    margin: 0;
    line-height: 1.5;
}
.homepage-bar p {
    font-size: 12px;
    margin: 0;
    line-height: 1;
}
.image-link {
    display: block;
    position: relative;
}
.image-link:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #000;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s;
}
.image-link:hover:before {
    opacity: 0.1;
    visibility: visible;
}
.image-link img {
    width: 100%;
}
.border-radius .image-link:before {
    border-radius: 8px;
}

.custom-support {
    text-align: right;
}
.custom-support em[class*=icon-] {
    float: right;
    background-color: #e35d53;
    color: #fff;
    border-radius: 50%;
    width: 62px;
    height: 62px;
    text-align: center;
    line-height: 62px;
    font-size: 20px;
}
.custom-support div.content {
    margin-right: 76px;
}
.custom-support div.content>h2 {
    color: #000;
    margin: 0;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.5;
}
.custom-support div.content>em {
    color: #888;
    font-weight: 300;
    font-size: 11px;
    font-style: normal;
    line-height: 1;
    margin-bottom: 15px;
    display: block;
}
.custom-support div.content>p {
    color: #666;
    font-size: 14px;
}

.parallax-wrapper {
    position: relative;
}
.parallax-wrapper .overlay {
    background-color: #000;
    opacity: 0.55;
    filter: alpha(opacity=55);
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
}
.parallax {
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 100%;
    padding: 50px 0;
}
.parallax-slider {
    text-align: center;
}
.parallax-slider .owl-carousel h2 {
    font-size: 60.28px;
    color: #fff;
    line-height: 1;
}
.parallax-slider .owl-carousel p {
    font-size: 22.6px;
    color: #fff;
    line-height: 1;
    margin-bottom: 30px;
}
.parallax-slider .owl-carousel a {
    font-size: 16px;
    color: #fff;
    line-height: 1;
}
.brands-slider .owl-carousel .owl-item img {
    width: auto;
    max-width: 100%;
}

@media (max-width: 991px) {
    .homepage-bar .col-md-4 {
        border: 0;
        text-align: right;
    }
    .parallax {
        background-position: center center !important;
        background-attachment: initial;
    }
}
@media (max-width: 767px) {
    .parallax-slider .owl-carousel h2 {
        font-size: 40px;
    }
    .parallax-slider .owl-carousel p {
        font-size: 13px;
        margin-bottom: 15px;
    }
    .parallax-slider .owl-carousel a {
        font-size: 13px;
    }
}
/*=============== Demo 1 Homepage Slider ===============*/
.owl-banner-carousel .content.type1 h2{font-size:60px}
.owl-banner-carousel .content.type1 p{font-size:25px}
.owl-banner-carousel .content.type1 a{font-size:16px}

@media (max-width:1199px){
    .owl-banner-carousel .content.type1 h2{font-size:48px}
    .owl-banner-carousel .content.type1 p{font-size:20px}
    .owl-banner-carousel .content.type1 a{font-size:13px}
}
@media (max-width:991px){
    .owl-banner-carousel .content.type1 h2{font-size:36px}
    .owl-banner-carousel .content.type1 p{font-size:15px}
    .owl-banner-carousel .content.type1 a{font-size:10px}
}
@media (max-width:767px){
    .owl-banner-carousel .content.type1 h2{font-size:24px}
    .owl-banner-carousel .content.type1 p{display:none}
    .owl-banner-carousel .content.type1 a{font-size:8px}
}
/*=============== Demo 3 Homepage Slider ===============*/
#banner-slider-demo-3 .slide1-content em{font-size:26.26px;margin:0 10px}
#banner-slider-demo-3 .slide1-content h2{font-size:79.12px;margin:5px 0 10px}
#banner-slider-demo-3 .slide1-content p{font-size:23.64px}
#banner-slider-demo-3 .slide2-content em{font-size:26.26px;margin-right:8px}
#banner-slider-demo-3 .slide2-content h2{font-size:82.51px;margin:3px 0 10px}
#banner-slider-demo-3 .slide2-content p{font-size:18px;margin-right:8px;margin-bottom:30px}
#banner-slider-demo-3 .slide2-content p span.split{margin:0 14px 0 13px;border: 0;}
#banner-slider-demo-3 .slide2-content a.btn-default{font-size:14px;width:135px;height:40px;line-height:40px;padding:0;margin-left:3px}
#banner-slider-demo-3 .slide3-content em{font-size:26.26px}
#banner-slider-demo-3 .slide3-content h2{font-size:82.51px;margin-bottom:17px;}
#banner-slider-demo-3 .slide3-content a.btn-default{font-size:14px;width:135px;height:40px;line-height:40px;padding:0;margin-left:3px}
@media (max-width:991px){
    #banner-slider-demo-3 .slide1-content img.quote{width:30px}
    #banner-slider-demo-3 .slide1-content em{font-size:20px;margin:0 8px}
    #banner-slider-demo-3 .slide1-content h2{font-size:60px;margin:4px 0 8px}
    #banner-slider-demo-3 .slide1-content p{font-size:18px}
    #banner-slider-demo-3 .slide2-content em{font-size:20px;margin-right:7px}
    #banner-slider-demo-3 .slide2-content h2{font-size:65px;margin:2px 0 8px}
    #banner-slider-demo-3 .slide2-content p{font-size:15px;margin-right:7px;margin-bottom:25px}
    #banner-slider-demo-3 .slide2-content p span.split{margin:0 9px 0 8px}
    #banner-slider-demo-3 .slide2-content a.btn-default{font-size:12px;width:120px;height:35px;line-height:35px;padding:0;margin-left:1px}
    #banner-slider-demo-3 .slide3-content em{font-size:20px}
    #banner-slider-demo-3 .slide3-content h2{font-size:65px;margin-bottom:13px}
    #banner-slider-demo-3 .slide3-content a.btn-default{font-size:12px;width:120px;height:35px;line-height:35px;padding:0;margin-left:1px}
}
@media (max-width:640px){
    #banner-slider-demo-3 .slide1-content img.quote{width:15px}
    #banner-slider-demo-3 .slide1-content em{font-size:14px;margin:0 3px}
    #banner-slider-demo-3 .slide1-content h2{font-size:38px;margin:1px 0 5px}
    #banner-slider-demo-3 .slide1-content p{font-size:14px}
    #banner-slider-demo-3 .slide2-content em{font-size:14px;margin-right:3px}
    #banner-slider-demo-3 .slide2-content h2{font-size:39px;margin:0 0 5px}
    #banner-slider-demo-3 .slide2-content p{font-size:8px;margin-right:4px;margin-bottom:15px}
    #banner-slider-demo-3 .slide2-content p span.split{margin:0 8px 0 7px}
    #banner-slider-demo-3 .slide2-content a.btn-default{font-size:8px;width:80px;height:25px;line-height:25px;padding:0;margin-left:1px}
    #banner-slider-demo-3 .slide3-content em{font-size:14px}
    #banner-slider-demo-3 .slide3-content h2{font-size:38px;margin-bottom:8px}
    #banner-slider-demo-3 .slide3-content a.btn-default{font-size:8px;width:80px;height:25px;line-height:25px;padding:0;margin-left:1px}
}
/*=============== Demo 8 Homepage Slider ===============*/
#banner-slider-demo-8 .slide1-content em{font-size:26.26px;margin:0 10px}
#banner-slider-demo-8 .slide1-content h2{font-size:79.12px;margin:5px 0 10px}
#banner-slider-demo-8 .slide1-content p{font-size:23.64px}
#banner-slider-demo-8 .slide2-content em{font-size:26.26px;margin-right:8px}
#banner-slider-demo-8 .slide2-content h2{font-size:82.51px;margin:3px 0 10px}
#banner-slider-demo-8 .slide2-content p{font-size:18px;margin-right:8px;margin-bottom:30px}
#banner-slider-demo-8 .slide2-content p span.split{margin:0 14px 0 13px;border: 0;}
#banner-slider-demo-8 .slide2-content a.btn-default{font-size:14px;width:135px;height:40px;line-height:40px;padding:0;margin-left:3px}
#banner-slider-demo-8 .slide3-content em{font-size:26.26px}
#banner-slider-demo-8 .slide3-content h2{font-size:82.51px;margin-bottom:17px;}
#banner-slider-demo-8 .slide3-content a.btn-default{font-size:14px;width:135px;height:40px;line-height:40px;padding:0;margin-left:3px}
@media (max-width:991px){
    #banner-slider-demo-8 .slide1-content img.quote{width:30px}
    #banner-slider-demo-8 .slide1-content em{font-size:20px;margin:0 8px}
    #banner-slider-demo-8 .slide1-content h2{font-size:60px;margin:4px 0 8px}
    #banner-slider-demo-8 .slide1-content p{font-size:18px}
    #banner-slider-demo-8 .slide2-content em{font-size:20px;margin-right:7px}
    #banner-slider-demo-8 .slide2-content h2{font-size:65px;margin:2px 0 8px}
    #banner-slider-demo-8 .slide2-content p{font-size:15px;margin-right:7px;margin-bottom:25px}
    #banner-slider-demo-8 .slide2-content p span.split{margin:0 9px 0 8px}
    #banner-slider-demo-8 .slide2-content a.btn-default{font-size:12px;width:120px;height:35px;line-height:35px;padding:0;margin-left:1px}
    #banner-slider-demo-8 .slide3-content em{font-size:20px}
    #banner-slider-demo-8 .slide3-content h2{font-size:65px;margin-bottom:13px}
    #banner-slider-demo-8 .slide3-content a.btn-default{font-size:12px;width:120px;height:35px;line-height:35px;padding:0;margin-left:1px}
}
@media (max-width:640px){
    #banner-slider-demo-8 .slide1-content img.quote{width:15px}
    #banner-slider-demo-8 .slide1-content em{font-size:14px;margin:0 3px}
    #banner-slider-demo-8 .slide1-content h2{font-size:38px;margin:1px 0 5px}
    #banner-slider-demo-8 .slide1-content p{font-size:14px}
    #banner-slider-demo-8 .slide2-content em{font-size:14px;margin-right:3px}
    #banner-slider-demo-8 .slide2-content h2{font-size:39px;margin:0 0 5px}
    #banner-slider-demo-8 .slide2-content p{font-size:8px;margin-right:4px;margin-bottom:15px}
    #banner-slider-demo-8 .slide2-content p span.split{margin:0 8px 0 7px}
    #banner-slider-demo-8 .slide2-content a.btn-default{font-size:8px;width:80px;height:25px;line-height:25px;padding:0;margin-left:1px}
    #banner-slider-demo-8 .slide3-content em{font-size:14px}
    #banner-slider-demo-8 .slide3-content h2{font-size:38px;margin-bottom:8px}
    #banner-slider-demo-8 .slide3-content a.btn-default{font-size:8px;width:80px;height:25px;line-height:25px;padding:0;margin-left:1px}
}
/*=============== Demo 4 Homepage Slider ===============*/
#banner-slider-demo-4 .slide1-content em{font-size:26.26px;margin:0 10px}
#banner-slider-demo-4 .slide1-content h2{font-size:79.12px;margin:5px 0 10px}
#banner-slider-demo-4 .slide1-content p{font-size:23.64px}
#banner-slider-demo-4 .slide2-content em{font-size:26.26px;margin-right:8px}
#banner-slider-demo-4 .slide2-content h2{font-size:82.51px;margin:3px 0 10px}
#banner-slider-demo-4 .slide2-content p{font-size:18px;margin-right:8px;margin-bottom:30px}
#banner-slider-demo-4 .slide2-content p span.split{margin:0 14px 0 13px;border: 0;}
#banner-slider-demo-4 .slide2-content a.btn-default{font-size:14px;width:135px;height:40px;line-height:40px;padding:0;margin-left:3px}
#banner-slider-demo-4 .slide3-content em{font-size:26.26px}
#banner-slider-demo-4 .slide3-content h2{font-size:82.51px;margin-bottom:17px;}
#banner-slider-demo-4 .slide3-content a.btn-default{font-size:14px;width:135px;height:40px;line-height:40px;padding:0;margin-left:3px}
@media (max-width:991px){
    #banner-slider-demo-4 .slide1-content img.quote{width:30px}
    #banner-slider-demo-4 .slide1-content em{font-size:20px;margin:0 8px}
    #banner-slider-demo-4 .slide1-content h2{font-size:60px;margin:4px 0 8px}
    #banner-slider-demo-4 .slide1-content p{font-size:18px}
    #banner-slider-demo-4 .slide2-content em{font-size:20px;margin-right:7px}
    #banner-slider-demo-4 .slide2-content h2{font-size:65px;margin:2px 0 8px}
    #banner-slider-demo-4 .slide2-content p{font-size:15px;margin-right:7px;margin-bottom:25px}
    #banner-slider-demo-4 .slide2-content p span.split{margin:0 9px 0 8px}
    #banner-slider-demo-4 .slide2-content a.btn-default{font-size:12px;width:120px;height:35px;line-height:35px;padding:0;margin-left:1px}
    #banner-slider-demo-4 .slide3-content em{font-size:20px}
    #banner-slider-demo-4 .slide3-content h2{font-size:65px;margin-bottom:13px}
    #banner-slider-demo-4 .slide3-content a.btn-default{font-size:12px;width:120px;height:35px;line-height:35px;padding:0;margin-left:1px}
}
@media (max-width:640px){
    #banner-slider-demo-4 .slide1-content img.quote{width:15px}
    #banner-slider-demo-4 .slide1-content em{font-size:14px;margin:0 3px}
    #banner-slider-demo-4 .slide1-content h2{font-size:38px;margin:1px 0 5px}
    #banner-slider-demo-4 .slide1-content p{font-size:14px}
    #banner-slider-demo-4 .slide2-content em{font-size:14px;margin-right:3px}
    #banner-slider-demo-4 .slide2-content h2{font-size:39px;margin:0 0 5px}
    #banner-slider-demo-4 .slide2-content p{font-size:8px;margin-right:4px;margin-bottom:15px}
    #banner-slider-demo-4 .slide2-content p span.split{margin:0 8px 0 7px}
    #banner-slider-demo-4 .slide2-content a.btn-default{font-size:8px;width:80px;height:25px;line-height:25px;padding:0;margin-left:1px}
    #banner-slider-demo-4 .slide3-content em{font-size:14px}
    #banner-slider-demo-4 .slide3-content h2{font-size:38px;margin-bottom:8px}
    #banner-slider-demo-4 .slide3-content a.btn-default{font-size:8px;width:80px;height:25px;line-height:25px;padding:0;margin-left:1px}
}
.slider-with-side {
    margin: 0 -8px;
}
.slider-with-side .slider-area {
    padding: 0 8px;
    float: right;
    width: 72.3%;
}
.slider-with-side .slider-area .item .content .ribbon {
    left: 13px;
    top: 16px;
}
.slider-with-side .slider-area .item .content .ribbon em {
    font-size: 14px;
    margin: 0;
    margin-left: 63px;
}
.slider-with-side .slider-area .item .content .ribbon h3 {
    font-size: 33px;
    margin: 0;
    margin-left: 14px;
}
.slider-with-side .slider-area .item .content .ribbon h5 {
    font-size: 18px;
    margin: 0;
    margin-top: -3px;
}
.slider-with-side .slider-area .item .content .text-area h2 {
    display: inline-block;
    padding: 7px 11px 7px 50px;
    font-size: 42.7px;
    margin-bottom: 4px;
}
.slider-with-side .slider-area .item .content .text-area p {
    display: inline-block;
    padding: 12px 13px 12px 17px;
    font-size: 17.58px;
    margin: 0;
}
@media (max-width: 1199px) {
    .slider-with-side .slider-area .item .content .ribbon {
        left: 11px;
        top: 11px;
    }
    .slider-with-side .slider-area .item .content .ribbon em {
        font-size: 13px;
        margin-left: 60px;
    }
    .slider-with-side .slider-area .item .content .ribbon h3 {
        font-size: 30px;
        margin-left: 12px;
    }
    .slider-with-side .slider-area .item .content .ribbon h5 {
        font-size: 16px;
        margin-top: -2px;
    }
    .slider-with-side .slider-area .item .content .text-area h2 {
        padding: 6px 10px 6px 45px;
        font-size: 38px;
    }
    .slider-with-side .slider-area .item .content .text-area p {
        padding: 10px 11px 10px 15px;
        font-size: 15px;
    }
}
@media (max-width: 767px) {
    .slider-with-side .slider-area .item .content .ribbon {
        left: 3px;
        top: 3px;
    }
    .slider-with-side .slider-area .item .content .ribbon em {
        font-size: 8px;
        margin-left: 40px;
    }
    .slider-with-side .slider-area .item .content .ribbon h3 {
        font-size: 22px;
        margin-left: 7px;
    }
    .slider-with-side .slider-area .item .content .ribbon h5 {
        font-size: 10px;
        margin-top: -1px;
    }
    .slider-with-side .slider-area .item .content .text-area h2 {
        padding: 4px 7px 4px 38px;
        font-size: 22px;
    }
    .slider-with-side .slider-area .item .content .text-area p {
        padding: 6px 8px 6px 11px;
        font-size: 9px;
    }
}
@media (max-width: 480px) {
    .slider-with-side .slider-area .item .content .ribbon {
        left: 3px;
        top: 1px;
    }
    .slider-with-side .slider-area .item .content .ribbon em {
        font-size: 6px;
        margin-left: 22px;
    }
    .slider-with-side .slider-area .item .content .ribbon h3 {
        font-size: 14px;
        margin-left: 2px;
    }
    .slider-with-side .slider-area .item .content .ribbon h5 {
        font-size: 6px;
        margin-top: -1px;
    }
    .slider-with-side .slider-area .item .content .text-area p {
        display: none;
    }
}
.slider-with-side .side-area {
    padding: 0 7px 0 8px;
    float: right;
    width: 27.7%;
}
.slider-with-side .side-area .item1, .slider-with-side .side-area .item2, .slider-with-side .side-area .item3 {
    margin-bottom: 9px;
    position: relative;
    overflow: hidden;
}
.slider-with-side .side-area .item1:before, .slider-with-side .side-area .item2:before, .slider-with-side .side-area .item3:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #000;
    opacity: 0;
    filter: alpha(Opacity=0);
    visibility: hidden;
    transition: all 0.2s;
}
.slider-with-side .side-area .item1:hover:before, .slider-with-side .side-area .item2:hover:before, .slider-with-side .side-area .item3:hover:before {
    opacity: 0.1;
    filter: alpha(Opacity=10);
    visibility: visible;
}
.slider-with-side .side-area .item1 .content {
    position: absolute;
    bottom: 17px;
    right: 15px;
    text-align: right;
}
.slider-with-side .side-area .item1 .content em {
    font-size: 27.45px;
    margin: 0;
    margin-bottom: 2px;
    display: block;
    margin-right: 4px;
}
.slider-with-side .side-area .item1 .content h2 {
    font-size: 35.16px;
    margin: 0;
    margin-bottom: 14px;
}
.slider-with-side .side-area .item1 .content a {
    font-size: 15.08px;
    margin: 0;
    margin-right: 4px;
    display: block;
}
.slider-with-side .side-area .item2 .content {
    position: absolute;
    bottom: 17px;
    right: 21px;
    text-align: right;
}
.slider-with-side .side-area .item2 .content h2 {
    font-size: 33.86px;
    margin: 0;
    margin-bottom: 12px;
}
.slider-with-side .side-area .item2 .content p {
    font-size: 18.34px;
    margin: 0;
    margin-right: 1px;
}
.slider-with-side .side-area .item2 .content a {
    font-size: 13px;
    border: 0;
    text-shadow: none;
    padding: 8px 15px 8px 10px;
    margin: 13px 25px 0 0;
}
.slider-with-side .side-area .item3 {
    margin: 0 !important;
}
.slider-with-side .side-area .item3 .content {
    position: absolute;
    bottom: 17px;
    right: 19px;
    text-align: right;
}
.slider-with-side .side-area .item3 .content h2 {
    font-size: 32px;
    margin: 0;
}
.slider-with-side .side-area .item3 .content p {
    font-size: 20px;
    margin: 0;
    margin-bottom: 17px;
}
.slider-with-side .side-area .item3 .content a {
    font-size: 16px;
    margin: 0;
}
@media (max-width: 1199px) {
    .slider-with-side .side-area .item1 .content {
        bottom: 15px;
        right: 13px;
    }
    .slider-with-side .side-area .item1 .content em {
        font-size: 22px;
        margin-right: 2px;
    }
    .slider-with-side .side-area .item1 .content h2 {
        font-size: 30px;
        margin-bottom: 10px;
    }
    .slider-with-side .side-area .item1 .content a {
        font-size: 13px;
        margin-right: 2px;
    }
    .slider-with-side .side-area .item2 {
        margin-bottom: 8px;
    }
    .slider-with-side .side-area .item2 .content {
        bottom: 15px;
        right: 15px;
    }
    .slider-with-side .side-area .item2 .content h2 {
        font-size: 28px;
        margin-bottom: 10px;
    }
    .slider-with-side .side-area .item2 .content p {
        font-size: 13px;
    }
    .slider-with-side .side-area .item2 .content a {
        font-size: 12px;
        padding: 7px 13px 7px 8px;
        margin: 5px 25px 0 0;
    }
    .slider-with-side .side-area .item3 .content {
        bottom: 15px;
        right: 15px;
    }
    .slider-with-side .side-area .item3 .content h2 {
        font-size: 28px;
    }
    .slider-with-side .side-area .item3 .content p {
        font-size: 17px;
        margin-bottom: 15px;
    }
    .slider-with-side .side-area .item3 .content a {
        font-size: 14px;
    }
}
@media (max-width: 991px) {
    .slider-with-side .slider-area {
        padding: 0 8px;
        float: none;
        width: 100%;
    }
    .slider-with-side .side-area {
        padding: 0;
        float: none;
        width: 100%;
    }
    .slider-with-side .side-area .item1, .slider-with-side .side-area .item2, .slider-with-side .side-area .item3 {
        padding: 8px;
        width: 33.33%;
        float: right;
        margin: 0;
    }
    .slider-with-side .side-area .item1 .content {
        bottom: 20px;
        right: 20px;
    }
    .slider-with-side .side-area .item2 .content {
        bottom: 20px;
        right: 15px;
    }
    .slider-with-side .side-area .item3 .content {
        bottom: 20px;
        right: 20px;
    }
}
@media (max-width: 767px) {
    .slider-with-side .side-area .item1, .slider-with-side .side-area .item2, .slider-with-side .side-area .item3 {
        padding: 8px;
        width: 100%;
        float: none;
    }
    .slider-with-side .side-area img {
        width: 100%;
    }
    .slider-with-side .side-area .item1 .content {
        bottom: 30px;
        right: 25px;
    }
    .slider-with-side .side-area .item2 .content {
        bottom: 30px;
        right: 25px;
    }
    .slider-with-side .side-area .item3 .content {
        bottom: 30px;
        right: 25px;
    }
}
.banner-content-6 {
    padding: 290px 0 80px;
    line-height: 1;
}
.banner-content-6 em {
    font-size: 26.26px;
    margin-right: 5px;
    margin-bottom: 5px;
}
.banner-content-6 .text-content h2 {
    font-size: 79.12px;
    letter-spacing: -4px;
}
.banner-content-6 .text-content p {
    margin: 0;
}
.banner-content-6 .text-content p span {
    font-size: 23.64px;
    padding-right: 5px;
    line-height: 2;
}
.banner-content-6 .text-content p a {
    font-size: 16px;
    padding: 10px 35px;
    margin-right: 5px;
    margin-top: 7px;
    margin-bottom: 125px;
}
.filter-title-type-2 {
    font-size: 19px;
    margin: 0;
    font-weight: 300;
    margin-bottom: 20px;
    display: table;
    width: 100%;
}
.filter-title-type-2 span {
    display: table-cell;
    position: relative;
}
.filter-title-type-2 span.title-line:after {
    content: "";
    width: 100%;
    border-top: 1px solid #d8d8d8;
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -1px;
}
.one-product .filterproduct-title {
    background: #fff;
    text-align: center;
    color: #333;
    font-weight: 700;
    line-height: 50px;
}
.one-product .products-grid {
    margin: 0;
    background-color: #fff;
    padding-bottom: 20px;
}
.one-product .product-item-info .product-item-details {
    padding-top: 20px;
}
.one-product .owl-dots {
    margin-top: 0;
}
.shop-features {
    text-align: center;
}
.shop-features [class*=" porto-icon-"], .shop-features [class^="porto-icon-"] {
    color: #333;
    width: 64px;
    height: 64px;
    text-align: center;
    line-height: 60px;
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 50%;
    font-size: 28px;
}
.shop-features h3 {
    color: #121214;
    font-size: 15px;
    font-weight: 600;
    line-height: 1;
    margin: 20px 0 10px;
}
.shop-features p {
    color: #777;
    font-size: 14px;
    margin: 0;
    margin-bottom: 15px;
    padding: 0 20px;
}
.shop-features a {
    margin: 0;
    font-size: 14px;
}
.hide-addtocart .products-grid .product-item-actions .actions-primary, .hide-addtocart .products-grid .product-item-details .product-item-actions .actions-primary {
    display: none;
}
.hide-addtolinks .products-grid .product-item-info .product-item-details .product-item-actions .actions-secondary.towishlist, 
.hide-addtolinks .products-grid .product-item-info .product-item-details .product-item-actions .actions-secondary.tocompare,
.hide-addtolinks .products-grid .product-item-info .product-item-actions .actions-secondary.towishlist, 
.hide-addtolinks .products-grid .product-item-info .product-item-actions .actions-secondary.tocompare {
    display: none;
}
.owl-middle-outer-narrow .owl-theme .owl-controls {
    position: absolute;
    top: 50%;
    width: 100%;
    margin-top: -22px;
}
.owl-middle-outer-narrow .owl-theme .owl-controls .owl-nav [class*=owl-] {
    position: absolute;
    color: #3d3734;
}
.owl-middle-outer-narrow .owl-theme .owl-controls .owl-nav .owl-prev {
    right: -60px;
}
.owl-middle-outer-narrow .owl-theme .owl-controls .owl-nav .owl-next {
    left: -60px;
}
.owl-bottom-narrow .owl-controls {
    position: absolute;
    bottom: 20px;
    margin: 0;
    width: 100%;
}
.filterproducts-tab .data.items {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #eee;
    margin-bottom: 18px;
    margin-left: -15px;
    margin-right: -15px;
}
.filterproducts-tab .data.items > .item.title {
    box-sizing: border-box;
    float: none;
    width: 100%;
}
.filterproducts-tab .data.items > .item.title[aria-expanded=true] a.switch {
    color: #08c;
}
.filterproduct-title > a {
    font-size: 13px;
    font-weight: 400;
    text-transform: none;
}
.sidebar .custom-block {
    margin-bottom: 30px;
    padding-bottom: 40px;
    background: url(../images/bkg_4.png) bottom no-repeat;
}
@media (min-width: 768px){
    .filterproducts-tab .data.items {
        position: relative;
        z-index: 1;
        border-bottom: 0;
        margin-left: 0;
        margin-right: 0;
        background: url(../images/slider-bar.png) left 10px no-repeat;
    }
    .filterproducts-tab .data.items:before, .filterproducts-tab .data.items:after {
        content: '';
        display: table;
    }
    .filterproducts-tab .data.items:after {
        clear: both;
    }
    .filterproducts-tab .data.items > .item.title {
        float: right;
        width: auto;
        margin: 0;
        padding: 0;
        background-color: #fff;
    }
    .filterproducts-tab .data.items > .item.title a.switch {
        color: #313131;
        font-size: 16px;
        line-height: 20px;
        font-weight: 700;
        text-transform: uppercase;
        padding: 0 15px;
        border-right: 1px solid #ddd;
    }
    .filterproducts-tab .data.items > .item.title:first-child a.switch {
        padding-right: 0;
        border: 0;
    }
    .filterproducts-tab .data.items > .item.content {
        margin-top: 30px;
        box-sizing: border-box;
        float: left;
        margin-right: -100%;
        width: 100%;
    }
}
@media (max-width: 768px){
    .filterproducts-tab .data.items > .item.title {
        padding: 10px;
        border-top: 1px solid #eee;
    }
    .filterproducts-tab .data.items > .item.title a.switch {
        color: #313131;
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
    }
}

.grid-images {
    text-align: center;
}
.grid-images .row {
    margin-left: -10px;
    margin-right: -10px;
}
.grid-images .col-sm-4, .grid-images .col-sm-8 {
    padding-left: 10px;
    padding-right: 10px;
}
.grid-images img {
    max-width: 100%;
}
.grid-images .grid1 img, .grid-images .grid2 img, .grid-images .grid3 img {
    opacity: 1;
    filter: alpha(Opacity=100);
    visibility: visible;
    transition: all 0.2s;
}
.grid-images .grid1:hover img, .grid-images .grid2:hover img, .grid-images .grid3:hover img {
    opacity: 0.8;
    filter: alpha(Opacity=80);
    visibility: visible;
}
.grid-images .grid1 {
    margin-bottom: 10px;
}
@media (max-width: 1199px) {
    .grid-images .grid1 {
        margin-bottom: 9px;
    }
}
@media (max-width: 767px) {
    .grid-images .grid2 {
        margin-bottom: 9px;
    }
}
@media (min-width: 992px){
    .md-f-right {
        float: left !important;
    }
}
@media (min-width: 768px){
    .sm-f-right {
        float: left !important;
    }
}
.side-custom-menu {
    border: 1px solid #ddd;
    border-radius: 7px;
    overflow: hidden;
}
.side-custom-menu h2 {
    color: #000;
    border-bottom: 1px solid #ddd;
    font-size: 13px;
    font-weight: 700;
    text-align: right;
    padding: 13px 13px 12px;
    background-color: #f5f5f5;
    line-height: 1;
    margin: 0;
}
.side-custom-menu ul {
    padding: 0 12px;
    margin: 0;
    list-style: none;
}
.side-custom-menu ul li {
    text-align: right;
    padding: 13px 4px 12px;
    border-top: 1px solid #ddd;
    margin: 0;
    line-height: 1;
}
.side-custom-menu ul li:first-child {
    border: 0;
}
.side-custom-menu ul li a {
    color: #777;
    font-size: 15px;
    line-height: 1;
    display: block;
}
.home-side-menu-type2{margin-bottom:50px}
.home-side-menu-type2>h2{font-size:15px;font-weight:600;color:#333;margin-bottom:15px;margin-top:0;}
.home-side-menu-type2>h2>i.icon-menu:before{margin-right:0}
.side-menu-type2.side-block{border-top:1px solid #ddd}
.side-menu-type2.side-block ul.category-sidebar{padding:0;list-style:none}
.side-menu-type2.side-block ul.category-sidebar ul{list-style:none;margin:0;display:none;padding-right:1.5em}
.side-menu-type2.side-block ul.category-sidebar>li{padding-right:12px;display:block;line-height:40px;border-bottom:1px solid #ddd}
.side-menu-type2.side-block ul.category-sidebar li{position:relative}
.side-menu-type2.side-block ul.category-sidebar a{font-size:13px;color:#777}
.side-menu-type2.side-block ul.category-sidebar a:hover{color:#000;text-decoration:none}
.side-menu-type2.side-block ul.category-sidebar>li>a{font-size:15px}
.side-menu-type2.side-block ul.category-sidebar ul>li{line-height:40px;border-top:1px solid #ddd}
.side-menu-type2.side-block ul.category-sidebar ul>li:first-child{border-top:0}
.featured-box-2{margin:30px 0}
.featured-box-2 h3{color:#121213;font-size:15px;border-bottom:1px solid #ddd;line-height:1.4;padding:8px 0;margin-bottom:10px}
.featured-box-2 h3 em{font-size:18px}
.featured-box-2 p{font-size:14px;margin-bottom:10px}
.featured-box-2 a{font-size:14px}
.social-icons [class^="porto-icon-"] {
    color: #fff;
}
.sidebar-title {
    margin-bottom: 17px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: #313131;
    line-height: 1;
}
.f-left {
    float: right !important;
}
.f-right {
    float: left !important;
}
.abs-action-button-as-link:hover, .abs-action-remove:hover, .abs-discount-block .action.check:hover, .popup .actions-toolbar .action.cancel:hover, .paypal-button-widget .paypal-button:hover, .bundle-options-container .action.back:hover, .block.related .action.select:hover, .cart.table-wrapper .actions-toolbar > .action-delete:hover, .cart.table-wrapper .action.help.map:hover, .checkout-index-index .modal-popup .modal-footer .action-hide-popup:hover, .opc-wrapper .edit-address-link:hover, .opc-block-shipping-information .shipping-information-title .action-edit:hover, .action-auth-toggle:hover, .checkout-payment-method .payment-method-billing-address .action-cancel:hover, .checkout-payment-method .payment-method-billing-address .billing-address-details .action-edit-address:hover, .checkout-agreements-block .action-show:hover, .gift-options .actions-toolbar .action-cancel:hover, .gift-summary .action-edit:hover, .gift-summary .action-delete:hover, .gift-wrapping-title .action-remove:hover, .wishlist.split.button > .action:hover, .abs-add-fields .action.remove:hover, .paypal-review-discount .action.check:hover, .cart-discount .action.check:hover, .form-giftregistry-share .action.remove:hover, .form-giftregistry-edit .action.remove:hover, .form-add-invitations .action.remove:hover, .form-create-return .action.remove:hover, .form.send.friend .action.remove:hover {
    text-decoration: none;
}
body.boxed {
    padding: 24px 0 17px;
    background: url(../images/boxed_bg.png) repeat;
}
body.boxed .page-wrapper {
    width: 1170px;
    max-width: 100%;
    margin: 0 auto;
    border-radius: 8px;
    overflow: hidden;
    background-color: #fff;
}
.fotorama .fotorama__fullscreen-icon {
    display: block;
}
.fotorama .fotorama-sprite, .fotorama__fullscreen .fotorama .fotorama__zoom-out, .fotorama__fullscreen .fotorama .fotorama__zoom-in, .fotorama .fotorama__arr .fotorama__arr__arr, .fotorama .fotorama__fullscreen-icon, .fotorama .fotorama__thumb__arr {
    background: none;
    color: #08c;
}
.fotorama-sprite:before, .fotorama__fullscreen .fotorama__zoom-out:before, .fotorama__fullscreen .fotorama__zoom-in:before, .fotorama__arr .fotorama__arr__arr:before, .fotorama__fullscreen-icon:before, .fotorama__thumb__arr:before {
    font-family: 'porto-icons';
    display: block;
    text-align: center;
}
.fotorama .fotorama__arr .fotorama__arr__arr {
    height: auto;
}
.fotorama__arr--next .fotorama__arr__arr:before {
    content: "\f809";
    font-size: 35px;
    line-height: 1;
}

.fotorama__arr--prev .fotorama__arr__arr:before {
    content: "\f80a";
    font-size: 35px;
    line-height: 1;
}
.fotorama__thumb__arr--left .fotorama__thumb__arr:before {
    content: "\f80a";
    font-size: 30px;
    line-height: 1;
}

.fotorama__thumb__arr--right .fotorama__thumb__arr:before {
    content: "\f809";
    font-size: 30px;
    line-height: 1;
}
.fotorama__zoom-in:before {
    content: "\f85a";
    font-size: 20px;
    line-height: 50px;
}
.fotorama__zoom-out:before {
    content: "\f85b";
    font-size: 20px;
    line-height: 50px;
}
.fotorama__fullscreen-icon:before {
    content: "\f859";
    font-size: 20px;
    line-height: 50px;
}
.fotorama__stage {
    border: 1px solid #ddd;
    border-radius: 7px;
    background: #fff;
    max-width: 100%;
    overflow: hidden;
}
.fotorama__nav--thumbs .fotorama__thumb {
    border: 1px solid #ccc !important;
    border-radius: 5px;
    background-color: #fff;
}
.fotorama__nav .fotorama__thumb__arr {
    padding-bottom: 0;
}
.fotorama__nav .fotorama__thumb-border {
    border-radius: 5px;
}
.fotorama__nav-wrap .fotorama_vertical_ratio .fotorama__img {
    border: 3px solid #fff !important;
}
.fotorama__stage__shaft {
    border: 3px solid #fff;
    box-sizing: border-box;
    max-width: 100%;
}
.message {
    border-radius: 5px;
}
@media (max-width: 1199px) {
    body.boxed .page-wrapper {
        width: 980px;
    }
}
@media (max-width: 991px) {
    body.boxed .page-wrapper {
        width: 750px;
    }
}
@media (max-width: 767px) {
    body.boxed .page-wrapper {
        width: 630px;
    }
    .sm-clearer {
        clear: both;
    }
}
@media (max-width: 640px) {
    body.boxed .page-wrapper {
        width: 460px;
    }
}
@media (max-width: 480px) {
    body.boxed .page-wrapper {
        width: 300px;
    }
}

.block.block-border {
    border-radius: 7px;
    overflow: hidden;
}
.block.block-border .block-title {
    padding: 10px 15px;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    border: 1px solid #ddd;
    background-color: #f5f5f5;
    color: #777;
    position: relative;
    border-radius: 7px 7px 0 0;
    margin: 0;
}
.block.block-border .block-content {
    padding: 10px 15px;
    font-size: 13px;
    border: 1px solid #ddd;
    border-top: 0;
    border-radius: 0 0 7px 7px;
    background-color: #fbfbfb;
}
.category-sidebar {
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 1.42857143;
}
.category-sidebar li {
    position: relative;
    margin: 0;
}
.category-sidebar ul {
    display: none;
    list-style: none;
    padding: 0 15px 0 0;
    margin: 0;
}
.category-sidebar li > .expand-icon {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 16px;
    line-height: 32px;
}
.category-sidebar li > a:not(.expand-icon) {
    color: #777;
    font-size: 13px;
    line-height: 2.5;
}
@media (max-width: 1199px) {
    .home-side-menu .sw-megamenu.navigation.side-megamenu li.level0.fullwidth > .submenu {
        width: 728px;
        width: calc(75vw - 19.5px);
    }
    .home-side-menu .sw-megamenu.navigation.side-megamenu li.level0 > a {
        font-size: 13px;
        line-height: 34px;
    }
    .home-side-menu .sw-megamenu.navigation.side-megamenu li.level0.parent > a:after {
        line-height: 34px;
    }
    .home-side-menu h2.side-menu-title {
        padding: 9px 15px;
    }
}
@media (max-width: 991px) {
    .home-side-menu {
        display: none;
    }
}

.cms-index-index blockquote.testimonial{background-color:#08c;border:0;border-radius:10px;color:#fff;font-family:Georgia,serif;font-style:italic;margin:0;padding:10px 50px;position:relative;font-size:1.2em;line-height:1.3}
.cms-index-index blockquote.testimonial:before{right:10px;top:0;color:#fff;content:"\201C";font-size:80px;font-style:normal;line-height:1;position:absolute}
.cms-index-index blockquote.testimonial:after{left:10px;bottom:-0.5em;color:#fff;content:"\201D";font-size:80px;font-style:normal;line-height:1;position:absolute}
.cms-index-index .testimonial-arrow-down{border:15px solid transparent;border-top-color:#08c;border-bottom:0;height:0;margin:0 25px 0 0;width:0}
.cms-index-index .testimonial-author{margin:8px 8px 0 0}
.cms-index-index .testimonial-author .img-thumbnail{border-radius:7px;float:right;margin-left:10px;position:relative;padding:4px;line-height:1.5;background-color:#fff;border:1px solid #ddd;display:inline-block;max-width:100%;height:auto}
.cms-index-index .testimonial-author .img-thumbnail img{max-width:60px;display:inline-block;height:auto}
.cms-index-index .testimonial-author p{color:#666;margin:0 25px 0 0;text-align:right;line-height:24px}
.cms-index-index .testimonial-author p >strong{color:#111;display:block;padding-top:7px;font-size:14px}
.cms-index-index .testimonial-author span{color:#666;display:block;font-size:12px}

.block.block-subscribe.home-sidebar-block{border:1px solid #ddd;border-top:5px solid #08c;border-radius:7px;background-color:#fbfbfb;text-align:center;padding:25px 20px 0}
.block.block-subscribe.home-sidebar-block .block-title strong{font-size:16px;color:#313131;font-weight:700;text-transform:uppercase;padding:30px 0 20px}
.block.block-subscribe.home-sidebar-block .block-content p{line-height:1.8}
.block.block-subscribe.home-sidebar-block label.label{display: none}

.block.block-subscribe.home-sidebar-block .newsletter .control{padding:10px 10px 40px 10px;position:relative}
.block.block-subscribe.home-sidebar-block .newsletter .control input{padding:5px 10px 5px 60px;border:1px solid #d3d3d3;border-radius:5px;background-color:#fefefe;line-height:16px;height:34px}
.block.block-subscribe.home-sidebar-block button.subscribe{width:50px;height:34px;padding:0;line-height:32px;height:32px;background-color:#fefefe;color:#515151;border:0;border-right:1px solid #d3d3d3;border-radius:5px 0 0 5px;position:absolute;left:11px;top:11px}

.shop-features h2.shop-features-title{position:relative;text-align:center;margin:30px 0}
.shop-features h2.shop-features-title:before{content:"";background-image:linear-gradient(to right,transparent,rgba(0,0,0,0.2),transparent);height:1px;width:100%;display:block;position:absolute;top:50%}
.shop-features h2.shop-features-title span{background-color:#fff;display:inline-block;position:relative;z-index:1;padding:0 12px;color:#313131;font-weight:700;font-size:15px;line-height: 33px;vertical-align: top;}

.homepage-grid-banner{padding:0}
.homepage-grid-banner *{transition:all 0.2s}
.homepage-grid-banner .row{margin-left:-4px;margin-right:-4px}
.homepage-grid-banner .col-sm-1,.homepage-grid-banner .col-sm-2,.homepage-grid-banner .col-sm-3,.homepage-grid-banner .col-sm-4,.homepage-grid-banner .col-sm-5,.homepage-grid-banner .col-sm-6,.homepage-grid-banner .col-sm-7,.homepage-grid-banner .col-sm-8,.homepage-grid-banner .col-sm-9,.homepage-grid-banner .col-sm-10,.homepage-grid-banner .col-sm-11,.homepage-grid-banner .col-sm-12{padding-left:4px;padding-right:4px}
.homepage-grid-banner .col-sm-margin{margin-bottom:8px}
.homepage-grid-banner img{width:100%}
.homepage-grid-banner .content a{font-size:16px;margin-left:5px;}
.homepage-grid-banner .content a.btn-default{font-size:13px;margin:0;border:0;padding-left:3px;color:#fff}
.homepage-grid-banner .ribbon{width:33.5%;height:22.3%}
.homepage-grid-banner .ribbon:before{content:"";position:absolute;left:0;top:0;border:150px solid #08c;border-left:0;border-bottom:0;border-right:200px solid transparent;}
.homepage-grid-banner .ribbon>div{width:90%}
.homepage-grid-banner .ribbon em{font-size:14px}
.homepage-grid-banner .ribbon h4{font-size:33px;line-height:1;margin:0}
.homepage-grid-banner .ribbon h5{font-size:18px;line-height:1;margin:0}
.homepage-grid-banner .grid1,.homepage-grid-banner .grid2,.homepage-grid-banner .grid3,.homepage-grid-banner .grid4{cursor:pointer;overflow:hidden;min-height:50px}
.homepage-grid-banner .grid1:before,.homepage-grid-banner .grid2:before,.homepage-grid-banner .grid3:before,.homepage-grid-banner .grid4:before{content:"";width:100%;height:100%;position:absolute;right:0;top:0;background-color:#000;opacity:0;filter:alpha(Opacity=0);visibility:hidden;transition:all 0.2s}
.homepage-grid-banner .grid1:hover:before,.homepage-grid-banner .grid2:hover:before,.homepage-grid-banner .grid3:hover:before,.homepage-grid-banner .grid4:hover:before{opacity:0.1;filter:alpha(Opacity=10);visibility:visible}
.homepage-grid-banner .grid1 .content h2{font-size:70.72px;line-height:1;margin:0 0 5px 0;}
.homepage-grid-banner .grid1 .content p{font-size:29.47px;line-height:1;margin:0;margin-bottom:10px;margin-left:4px}
.homepage-grid-banner .grid2 .content h3{font-size:28.88px;line-height:1;margin:0 0 5px 0;}
.homepage-grid-banner .grid2 .content h2{font-size:28.88px;line-height:1;margin:0 0 5px 0;}
.homepage-grid-banner .grid2 .content p{font-size:17.58px;line-height:1;margin:0;margin-bottom:15px}
.homepage-grid-banner .grid3 .content h2{font-size:46px;line-height:1;margin:0}
.homepage-grid-banner .grid3 .content h5{font-size:16px;line-height:1;margin:0;margin-bottom:30px}
.homepage-grid-banner .grid3 .content p{font-size:16px;line-height:1;margin:0;margin-bottom:5px}
.homepage-grid-banner .grid3 .content h4{font-size:22.72px;line-height:1;margin-top:20px;margin-bottom:0}
.homepage-grid-banner .grid3 .content h4>span{font-size:17.66px;line-height:1}
.homepage-grid-banner .grid3 .content h3{font-size:37.71px;line-height:1;margin:0;margin-bottom:15px}
.homepage-grid-banner .grid3 .content h3>span{font-size:25.14px;line-height:1}
.homepage-grid-banner .grid4 .content h2{font-size:33.86px;line-height:1.2;margin:0;margin-bottom:15px}
.homepage-grid-banner .grid4 .content p{font-size:19.75px;line-height:1.2;margin:0;margin-bottom:17px}

@media (max-width:1199px){
    .homepage-grid-banner .row{margin-left:-3px;margin-right:-3px}
    .homepage-grid-banner .col-sm-1,.homepage-grid-banner .col-sm-2,.homepage-grid-banner .col-sm-3,.homepage-grid-banner .col-sm-4,.homepage-grid-banner .col-sm-5,.homepage-grid-banner .col-sm-6,.homepage-grid-banner .col-sm-7,.homepage-grid-banner .col-sm-8,.homepage-grid-banner .col-sm-9,.homepage-grid-banner .col-sm-10,.homepage-grid-banner .col-sm-11,.homepage-grid-banner .col-sm-12{padding-left:3px;padding-right:3px}
    .homepage-grid-banner .col-sm-margin{margin-bottom:7px}
    .homepage-grid-banner .content a.btn-default{font-size:11px}
    .homepage-grid-banner .grid1 .content h2{font-size:55.16px}
    .homepage-grid-banner .grid1 .content p{font-size:23px;margin-left:3.12px}
    .homepage-grid-banner .grid2 .content h3{font-size:22.53px}
    .homepage-grid-banner .grid2 .content h2{font-size:22.53px}
    .homepage-grid-banner .grid2 .content p{font-size:13.71px;margin-bottom:11.7px}
    .homepage-grid-banner .grid3 .content h2{font-size:35.88px}
    .homepage-grid-banner .grid3 .content h5{font-size:12.48px;margin-bottom:23.4px}
    .homepage-grid-banner .grid3 .content p{font-size:12.48px;margin-bottom:3.9px}
    .homepage-grid-banner .grid3 .content h4{font-size:17.72px;margin-top:15.6px}
    .homepage-grid-banner .grid3 .content h4>span{font-size:13.77px}
    .homepage-grid-banner .grid3 .content h3{font-size:29.41px;margin-bottom:11.7px}
    .homepage-grid-banner .grid3 .content h3>span{font-size:19.6px}
    .homepage-grid-banner .grid4 .content h2{font-size:29px;margin-bottom:12px}
    .homepage-grid-banner .grid4 .content p{font-size:17px;margin-bottom:11.7px}
}

@media (max-width:991px){
    .homepage-grid-banner .row{margin-right:-2px;margin-left:-3px}
    .homepage-grid-banner .col-sm-1,.homepage-grid-banner .col-sm-2,.homepage-grid-banner .col-sm-3,.homepage-grid-banner .col-sm-4,.homepage-grid-banner .col-sm-5,.homepage-grid-banner .col-sm-6,.homepage-grid-banner .col-sm-7,.homepage-grid-banner .col-sm-8,.homepage-grid-banner .col-sm-9,.homepage-grid-banner .col-sm-10,.homepage-grid-banner .col-sm-11,.homepage-grid-banner .col-sm-12{padding-right:2px;padding-left:3px}
    .homepage-grid-banner .col-sm-margin{margin-bottom:4px}
    .homepage-grid-banner .content a.btn-default{font-size:10px;padding:4px 6px;padding-left:3px}
    .homepage-grid-banner .grid1 .content h2{font-size:42.43px}
    .homepage-grid-banner .grid1 .content p{font-size:17.68px;margin-bottom:6px;margin-left:2.4px}
    .homepage-grid-banner .grid2 .content h3{font-size:17.33px}
    .homepage-grid-banner .grid2 .content h2{font-size:17.33px}
    .homepage-grid-banner .grid2 .content p{font-size:10.55px;margin-bottom:9px}
    .homepage-grid-banner .grid3 .content h2{font-size:27.6px}
    .homepage-grid-banner .grid3 .content h5{font-size:9.6px;margin-bottom:18px}
    .homepage-grid-banner .grid3 .content p{font-size:9.6px;margin-bottom:3px}
    .homepage-grid-banner .grid3 .content h4{font-size:13.63px;margin-top:12px}
    .homepage-grid-banner .grid3 .content h4>span{font-size:10.6px}
    .homepage-grid-banner .grid3 .content h3{font-size:22.63px;margin-bottom:9px}
    .homepage-grid-banner .grid3 .content h3>span{font-size:15.08px}
    .homepage-grid-banner .grid4 .content h2{font-size:21px;margin-bottom:9px}
    .homepage-grid-banner .grid4 .content p{font-size:14px;margin-bottom:7px}
}

@media (max-width:767px){
    .homepage-grid-banner .row{margin-left:-10px;margin-right:-10px}
    .homepage-grid-banner .col-sm-1,.homepage-grid-banner .col-sm-2,.homepage-grid-banner .col-sm-3,.homepage-grid-banner .col-sm-4,.homepage-grid-banner .col-sm-5,.homepage-grid-banner .col-sm-6,.homepage-grid-banner .col-sm-7,.homepage-grid-banner .col-sm-8,.homepage-grid-banner .col-sm-9,.homepage-grid-banner .col-sm-10,.homepage-grid-banner .col-sm-11,.homepage-grid-banner .col-sm-12{padding-left:10px;padding-right:10px}
    .homepage-grid-banner .col-sm-margin{margin-bottom:0}
    .homepage-grid-banner .content a.btn-default{font-size:14px;padding:6px 12px;padding-left:6px}
    .homepage-grid-banner img{margin-bottom:20px}
    .homepage-grid-banner .grid1 .content h2{font-size:70.72px}
    .homepage-grid-banner .grid1 .content p{font-size:29.47px;margin-bottom:10px;margin-left:4px}
    .homepage-grid-banner .grid2 .content h3{font-size:28.88px}
    .homepage-grid-banner .grid2 .content h2{font-size:28.88px}
    .homepage-grid-banner .grid2 .content p{font-size:17.58px;margin-bottom:15px}
    .homepage-grid-banner .grid3 .content h2{font-size:46px}
    .homepage-grid-banner .grid3 .content h5{font-size:16px;margin-bottom:30px}
    .homepage-grid-banner .grid3 .content p{font-size:16px;margin-bottom:5px}
    .homepage-grid-banner .grid3 .content h4{font-size:22.72px;margin-top:20px}
    .homepage-grid-banner .grid3 .content h4>span{font-size:17.66px}
    .homepage-grid-banner .grid3 .content h3{font-size:37.71px;margin-bottom:15px}
    .homepage-grid-banner .grid3 .content h3>span{font-size:25.14px}
    .homepage-grid-banner .grid4 .content h2{font-size:35px}
    .homepage-grid-banner .grid4 .content p{font-size:23px;margin-bottom:15px}
}

@media (max-width:640px){
    .homepage-grid-banner .grid1 .content h2{font-size:42.43px}
    .homepage-grid-banner .grid1 .content p{font-size:17.68px;margin-bottom:6px;margin-left:2.4px}
}

@media (max-width:480px){
    .homepage-grid-banner .grid1 .content h2{font-size:25px}
    .homepage-grid-banner .grid1 .content p{font-size:17.68px;margin-bottom:6px;margin-left:2.4px}
}

.single-image {
    display: block;
    position: relative;
    overflow: hidden;
}
.single-image img {
    max-width: 100%;
    transition: 0.5s ease;
}
.single-image img {
    width: 100%;
}
.single-image:hover img {
    transform: scale(1.2);
}

#banner-slider-demo-11 .slide-1 em{font-size:26.26px;margin:0;margin-right:5px}
#banner-slider-demo-11 .slide-1 .text-content h2{font-size:79.12px;letter-spacing:-5px}
#banner-slider-demo-11 .slide-1 .text-content p {margin:0}
#banner-slider-demo-11 .slide-1 .text-content p span{font-size:23.64px;padding-right:6px}
#banner-slider-demo-11 .slide-1 .text-content a{font-size:15.76px;padding:10px 34px;margin-top:15px;margin-right:7px}
#banner-slider-demo-11 .slide-2 em{font-size:26.26px;margin:0;margin-bottom:10px}
#banner-slider-demo-11 .slide-2 .text-content h2{font-size:51.67px}
#banner-slider-demo-11 .slide-2 .text-content p {margin:0}
#banner-slider-demo-11 .slide-2 .text-content p span{font-size:23.64px}
#banner-slider-demo-11 .slide-2 .text-content a{font-size:15.76px;padding:10px 34px;margin-top:15px}

@media (max-width:767px){
    #banner-slider-demo-11 .slide-1 em{font-size:12px;margin:0;margin-right:1px}
    #banner-slider-demo-11 .slide-1 .text-content h2{font-size:30px;letter-spacing:-1px}
    #banner-slider-demo-11 .slide-1 .text-content p span{font-size:12px;padding-right:1px;display:block}
    #banner-slider-demo-11 .slide-1 .text-content a{font-size:10px;padding:6px 20px;margin-right:0;margin-top:10px}
    #banner-slider-demo-11 .slide-2 em{font-size:12px;margin:0;margin-bottom:2px}
    #banner-slider-demo-11 .slide-2 .text-content h2{font-size:26px;letter-spacing:-1px}
    #banner-slider-demo-11 .slide-2 .text-content p span{font-size:12px;display:block}
    #banner-slider-demo-11 .slide-2 .text-content a{font-size:10px;padding:6px 20px;margin-right:0;margin-top:10px}
}

.flex-owl-slider .owl-item:first-child .item {
    border-right-color: transparent;
}
.flex-owl-slider .owl-item .item {
    border-right: 1px solid #e3e4e4;
}
.owl-no-narrow .owl-controls {
    display: none;
}
@media (max-width:640px){
    .products-grid.products.grid.flex-grid .product-item-details .product-item-actions .tocart {
        width: 40px;
        padding: 0 12px;
    }
    .products-grid.products.grid.flex-grid .product-item-details .product-item-actions .tocart span {
        display: none;
    }
}
@media (max-width: 991px) {
    .sm-bd-0 {
        border: 0!important;
    }
}

.fancybox-close {
    background: transparent;
    left: 10px;
    top: 10px;
    text-align: center;
    font-size: 15px;
    line-height: 20px;
    width: 20px;
    height: 20px;
}
.fancybox-close:hover {
    text-decoration: none;
}
.fancybox-close:before {
    content: '\f819';
    font-family: 'porto-icons';
}

/* Previous/Next Product links on Product View Page*/

/* Previous/Next Product links on Product View Page*/

/* Category Banner */
.page-wrapper > .category-banner{background-color:transparent}
.page-wrapper > .category-banner .banner-image{width:100%}
.category-banner .banner-text{position:absolute;top:30%;width:100%;color:#fff}
.category-banner .banner-text h2{font-size:50px;color:#fff}
.category-banner .banner-text p{font-size:26px;font-weight:300}
.category-boxed-banner.owl-theme .owl-controls{margin-top:-40px;position:relative;height:30px}
.category-boxed-banner .owl-item .item{border-radius:5px;overflow:hidden;position:relative}
.category-boxed-banner .owl-item .item img{width:100%}
.category-boxed-banner .banner-text{position:absolute;top:40%;right:4%;color:#fff;width:100%}
.category-boxed-banner .banner-text h2{font-size:35px;color:#fff;background-color:#333;background-color:rgba(23,23,23,.9);padding:5px 10px;display:inline-block;line-height:1}
.category-boxed-banner .banner-text p{font-size:16px;font-weight:300;background-color:#666;background-color:rgba(23,23,23,.65);padding:7px 12px;line-height:1.4}
.category-boxed-banner .banner-text a.shop-now{margin-right:20px;font-size:16px;}

.full-width-image-banner{height:375px;position:relative}
.full-width-image-banner:after{content:"";display:block;position:absolute;width:100%;height:100%;right:0;top:0;background-color:#393733;opacity:0.65;filter:alpha(opacity=65)}
.full-width-image-banner .content{margin-top:-36px}
.full-width-image-banner h2{margin:0;font-size:45px;line-height:1.1}
.full-width-image-banner p{margin:0;font-size:16px}

.no-margin {
    margin: 0 !important;
}

@media (max-width:1199px){
    .category-banner .banner-text h2{font-size:45px}
    .category-banner .banner-text p{font-size:23px}
    .category-boxed-banner .banner-text h2{font-size:38px}
    .category-boxed-banner .banner-text p{font-size:17px}
    .category-boxed-banner .banner-text a.shop-now{margin-right:16px;font-size:14px}
}
@media (max-width:991px){
    .category-banner .banner-text h2{font-size:28px}
    .category-banner .banner-text p{font-size:16px}
    .category-boxed-banner .banner-text h2{font-size:28px}
    .category-boxed-banner .banner-text p{font-size:12px}
    .category-boxed-banner .banner-text a.shop-now{margin-right:12px;font-size:12px}
}
@media (max-width:767px){
    .category-banner .banner-text h2{font-size:28px}
    .category-banner .banner-text p{display:none}
    .category-boxed-banner .banner-text h2{font-size:28px}
    .category-boxed-banner .banner-text p{display:none}
}
@media (max-width:640px){
    .category-boxed-banner .banner-text a.shop-now{margin-right:10px;font-size:9px}
    
    .full-width-image-banner{height:200px}
    .full-width-image-banner .content{margin-top:-16px}
    .full-width-image-banner h2{margin:0;font-size:30px;line-height:1.1}
    .full-width-image-banner p{display:none}
}
@media (max-width:480px){
    .category-banner .banner-text h2{font-size:14px}
    .category-boxed-banner .banner-text h2{font-size:14px}
    
    .full-width-image-banner{height:150px}
    .full-width-image-banner .content{margin-top:-13px}
    .full-width-image-banner h2{margin:0;font-size:24px;line-height:1.1}
    .full-width-image-banner p{display:none}
}
/* Category Banner */

.page-header.type3.sticky-header .minicart-wrapper .action.showcart .counter.qty, .page-header.type4.sticky-header .minicart-wrapper .action.showcart .counter.qty {
	color: #000;
}
@media (min-width: 768px) {
	.page-header.type4.sticky-header .navigation > ul {
		padding-left: 200px;
	}
}

/****************** Demo 12 ***************/
#banner-slider-demo-12 .item img {
    width: 100%;
}
#banner-slider-demo-12 .item .content {
    position: absolute;
    left: 4.3%;
    bottom: 20.5%;
}
#banner-slider-demo-12 .item .content>span {
    font-size: 21px;
    font-weight: 300;
    color: #303030;
    margin-left: 35px;
    display: inline-block;
    vertical-align: middle;
}
#banner-slider-demo-12 .item .content>a.btn-default {
    font-size: 13px;
}
/****************** Demo 13 ***************/
#parallax_01 .parallax-content-13 img.quote{}
#parallax_01 .parallax-content-13 em{font-size:26.26px;margin:0 10px}
#parallax_01 .parallax-content-13 h2{font-size:79.12px;margin:5px 0 10px}
#parallax_01 .parallax-content-13 p{font-size:23.64px}
#parallax_02{padding:250px 0}
#parallax_02 .parallax-content-13 em{font-size:26.26px;margin:0}
#parallax_02 .parallax-content-13 .text-content h2{font-size:79.12px;letter-spacing:-6px}
#parallax_02 .parallax-content-13 .text-content p {margin:0}
#parallax_02 .parallax-content-13 .text-content p span{font-size:23.64px;padding-right:6px}
#parallax_02 .parallax-content-13 .text-content p a{font-size:16px;padding:10px 28px;margin-right:10px;margin-top:5px}
#parallax_03{padding:250px 0}
#parallax_03 .parallax-content-13 em{font-size:26.26px;margin:0;margin-right:5px}
#parallax_03 .parallax-content-13 .text-content h2{font-size:79.12px;letter-spacing:-6px}
#parallax_03 .parallax-content-13 .text-content p {margin:0}
#parallax_03 .parallax-content-13 .text-content p span{font-size:23.64px;padding-right:6px}
#parallax_03 .parallax-content-13 .text-content p a{font-size:16px;padding:10px 28px;margin-right:125px;margin-top:5px}
#parallax_04 .parallax-content-13 img.quote{}
#parallax_04 .parallax-content-13 em{font-size:26.26px;margin:0 10px}
#parallax_04 .parallax-content-13 h2{font-size:61px;margin:5px 0 10px;letter-spacing:-3px}
#parallax_04 .parallax-content-13 p{font-size:18px}
#parallax_04 .parallax-content-13 a.btn.btn-default{font-size:16px;padding:8px 35px}

@media (max-width:767px){
    #parallax_01 .parallax-content-13 img.quote{width:20px}
    #parallax_01 .parallax-content-13 em{font-size:12px;margin:0 5px}
    #parallax_01 .parallax-content-13 h2{font-size:35px;margin:4px 0 7px}
    #parallax_01 .parallax-content-13 p{font-size:11px;margin:0}
    #parallax_02{padding:50px 0}
    #parallax_02 .parallax-content-13 em{font-size:12px}
    #parallax_02 .parallax-content-13 .text-content h2{font-size:35px;letter-spacing:-2px}
    #parallax_02 .parallax-content-13 .text-content p span{font-size:12px;padding-right:6px;display:block}
    #parallax_02 .parallax-content-13 .text-content p a{font-size:10px;padding:6px 13px;margin-right:10px;margin-top:5px}
    #parallax_03{padding:50px 0}
    #parallax_03 .parallax-content-13 em{font-size:12px;margin:0;margin-right:1px}
    #parallax_03 .parallax-content-13 .text-content h2{font-size:30px;letter-spacing:-1px}
    #parallax_03 .parallax-content-13 .text-content p span{font-size:12px;padding-right:1px;display:block}
    #parallax_03 .parallax-content-13 .text-content p a{font-size:10px;padding:6px 13px;margin-right:0;margin-top:5px}
    #parallax_04 .parallax-content-13 img.quote{width:20px}
    #parallax_04 .parallax-content-13 em{font-size:12px;margin:0 5px}
    #parallax_04 .parallax-content-13 h2{font-size:22px;margin:4px 0 7px;letter-spacing:-1px}
    #parallax_04 .parallax-content-13 p{font-size:10px}
    #parallax_04 .parallax-content-13 a.btn.btn-default{font-size:10px;padding:5px 20px}
}

@media (min-width: 1600px) {
    .cms-index-index .page-header.type9 .header.panel .top-panel {
        display: inline-block;
        vertical-align: middle;
        margin-bottom: 0;
    }
    .cms-index-index .page-header.type9 .header.panel {
        margin-top: -13px;
        z-index: 6;
    }
}

#banner-slider-demo-14 .slide-1 em{font-size:26.26px;margin:0;margin-right:5px}
#banner-slider-demo-14 .slide-1 .text-content h2{font-size:79.12px;letter-spacing:-6px}
#banner-slider-demo-14 .slide-1 .text-content p {margin:0}
#banner-slider-demo-14 .slide-1 .text-content p span{font-size:23.64px;padding-right:6px}
#banner-slider-demo-14 .slide-1 .text-content a{font-size:15.76px;padding:10px 34px;margin-top:15px;margin-right:7px}
#banner-slider-demo-14 .slide-2 em{font-size:26.26px;margin:0;margin-right:5px}
#banner-slider-demo-14 .slide-2 .text-content h2{font-size:79.12px;letter-spacing:-6px}
#banner-slider-demo-14 .slide-2 .text-content p {margin:0}
#banner-slider-demo-14 .slide-2 .text-content p span{font-size:23.64px;padding-right:6px}
#banner-slider-demo-14 .slide-2 .text-content a{font-size:15.76px;padding:10px 0;margin-top:10px}

@media (max-width:767px){
    #banner-slider-demo-14 .slide-1 em{font-size:12px;margin:0;margin-right:1px}
    #banner-slider-demo-14 .slide-1 .text-content h2{font-size:30px;letter-spacing:-1px}
    #banner-slider-demo-14 .slide-1 .text-content p span{font-size:12px;padding-right:1px;display:block}
    #banner-slider-demo-14 .slide-1 .text-content a{font-size:10px;padding:6px 20px;margin-right:0;margin-top:10px}
    #banner-slider-demo-14 .slide-2 em{font-size:12px;margin:0;margin-right:1px}
    #banner-slider-demo-14 .slide-2 .text-content h2{font-size:30px;letter-spacing:-1px}
    #banner-slider-demo-14 .slide-2 .text-content p span{font-size:12px;padding-right:1px;display:block}
    #banner-slider-demo-14 .slide-2 .text-content a{font-size:10px;padding:6px 0;margin-right:0;margin-top:5px}
}

.image-link span.category-title{display:block;position:absolute;right:-10px;bottom:20px;color:#fff;padding:15px 17px;font-size:15px;font-weight:600;line-height:1;min-width:174px;text-align:right;background-color:#3f4658}
.image-link span.category-title:before{content:"";width:10px;height:10px;border:5px solid transparent;border-left-color:#3f4658;border-top-color:#3f4658;display:block;position:absolute;right:0;top:100%}

.overlay{background-color:#000;opacity:0.55;filter:alpha(opacity=55);width:100%;height:100%;display:block;position:absolute}

#banner-slider-demo-15 .content em{font-size:18px}
#banner-slider-demo-15 .content h2{font-size:44px}
#banner-slider-demo-15 .content hr{margin:10px 0}
#banner-slider-demo-15 .content a{font-size:16px}

.img-desc-home15{margin-top:-88px;padding:0 25px}
.img-desc-home15 h3{font-size:24px}
.img-desc-home15 hr{width:90px;margin:15px 0}
.img-desc-home15 p{font-size:15px}
.img-desc-home15 a{font-size:15px}
@media (max-width:991px){
    .img-desc-home15{margin-top:-65px;padding:0 16px}
    .img-desc-home15 h3{font-size:16px}
    .img-desc-home15 hr{width:60px;margin:10px 0}
    .img-desc-home15 p{font-size:10px}
    .img-desc-home15 a{font-size:10px}
}
@media (max-width:767px){
    #banner-slider-demo-15 .content em{font-size:9px}
    #banner-slider-demo-15 .content h2{font-size:22px}
    #banner-slider-demo-15 .content hr{margin:5px 0;}
    #banner-slider-demo-15 .content a{font-size:8px}
    
    .img-desc-home15{margin-top:-88px;padding:0 25px}
    .img-desc-home15 h3{font-size:24px}
    .img-desc-home15 hr{width:90px;margin:15px 0}
    .img-desc-home15 p{font-size:15px}
    .img-desc-home15 a{font-size:15px}
}

.top-newsletter .newsletter button.subscribe {
    position: absolute;
    left: 0;
    top: 0;
    height: 30px;
    line-height: 30px;
    border-radius: 0;
    color: #000;
    padding: 0 15px;
    background-color: transparent;
    border: 0;
}
.top-newsletter .newsletter input {
    width: 300px;
    height: 30px;
    border-radius: 0;
    line-height: 16px;
    padding: 7px 15px 7px 50px;
}
.top-newsletter .newsletter label {
    display: none;
}
@media (max-width:1199px){
    .top-newsletter #newsletter{width:270px}
}
@media (max-width:991px){
    .top-newsletter #newsletter{width:160px}
}
@media (min-width: 992px){
    .a-left-sm {
        text-align: right;
    }
    .a-right-sm {
        text-align: left;
    }
}

.owl-banner-carousel .content-17.type1 em{font-size:20px;margin-bottom:-5px;margin-right:9px}
.owl-banner-carousel .content-17.type1 h2{font-size:65px;margin-bottom:0}
.owl-banner-carousel .content-17.type1 p{font-size:37px}
.owl-banner-carousel .content-17.type1 a{font-size:15px}
.owl-banner-carousel .content-17.type1 a>i{width:15px;height:15px;line-height:14px;text-align:center;font-size:11px;display:inline-block;vertical-align:middle;margin-bottom:3px;margin-right:12px;color:#fff;border-radius:50%}
@media (max-width:1199px){
    .owl-banner-carousel .content-17.type1 em{font-size:18px;margin-bottom:-4px;margin-right:8px}
    .owl-banner-carousel .content-17.type1 h2{font-size:58px}
    .owl-banner-carousel .content-17.type1 p{font-size:32px}
    .owl-banner-carousel .content-17.type1 a{font-size:14px}
    .owl-banner-carousel .content-17.type1 a>i{width:15px;height:15px;line-height:14px;font-size:11px;margin-bottom:3px;margin-right:10px}
}
@media (max-width:991px){
    .owl-banner-carousel .content-17.type1 em{font-size:15px;margin-bottom:-3px;margin-right:6px}
    .owl-banner-carousel .content-17.type1 h2{font-size:50px}
    .owl-banner-carousel .content-17.type1 p{font-size:26px}
    .owl-banner-carousel .content-17.type1 a{font-size:12px}
    .owl-banner-carousel .content-17.type1 a>i{width:13px;height:13px;line-height:12px;font-size:10px;margin-bottom:3px;margin-right:7px}
}
@media (max-width:767px){
    .owl-banner-carousel .content-17.type1 em{font-size:11px;margin-bottom:-2px;margin-right:4px}
    .owl-banner-carousel .content-17.type1 h2{font-size:28px}
    .owl-banner-carousel .content-17.type1 p{display:none}
    .owl-banner-carousel .content-17.type1 a{display:none}
}

#banner-slider-demo-18 .content-1{position:absolute;right:50%;top:50%;padding:30px 20px 15px;text-align:right;margin-right:-163px;margin-top:-95px}
#banner-slider-demo-18 .content-1>div{display:inline-block;vertical-align:middle}
#banner-slider-demo-18 .content-1>div:first-child{padding-left:10px}
#banner-slider-demo-18 .content-1 p{font-size:23px;line-height:1;margin-bottom:0;margin-right:7px;font-weight:300}
#banner-slider-demo-18 .content-1 h3{font-size:73px;font-weight:600;line-height:1;margin:0}
#banner-slider-demo-18 .content-1 h3 b{font-weight:800;margin-top:-23px;display:block}
#banner-slider-demo-18 .content-1 em{font-size:17px;font-style:normal;font-weight:300;margin:0;line-height:1;margin-left:4px}
#banner-slider-demo-18 .content-1 h4{font-size:32px;line-height:1;margin:0;font-weight:700}
#banner-slider-demo-18 .content-1 h5{font-size:17px;margin:0;line-height:1;margin-top:-4px}
#banner-slider-demo-18 .content-2{position:absolute;left:28px;bottom:28px;text-align:right}
#banner-slider-demo-18 .content-2>div{display:inline-block;vertical-align:middle;padding:20px 15px}
#banner-slider-demo-18 .content-2>div:first-child{margin:-6px 0;padding-right:25px}
#banner-slider-demo-18 .content-2 p{font-size:20px;line-height:1;margin-bottom:0;margin-right:2px;font-weight:300}
#banner-slider-demo-18 .content-2 h3{font-size:54px;font-weight:600;line-height:1;margin:0}
#banner-slider-demo-18 .content-2 h3 b{font-weight:800}
#banner-slider-demo-18 .content-2 em{font-size:17px;font-style:normal;font-weight:300;margin:0;line-height:1;margin-left:4px}
#banner-slider-demo-18 .content-2 h4{font-size:32px;line-height:1;margin:0;font-weight:700}
#banner-slider-demo-18 .content-2 h5{font-size:17px;margin:0;line-height:1;margin-top:-4px}
#banner-slider-demo-18 .content-2 a{font-size:13px;margin-left:-10px}
@media (max-width:991px){
    #banner-slider-demo-18 .content-1{padding:25px 15px 10px;margin-right:-122px;margin-top:-75px}
    #banner-slider-demo-18 .content-1>div:first-child{padding-left:7px}
    #banner-slider-demo-18 .content-1 p{font-size:16px;margin-right:5px}
    #banner-slider-demo-18 .content-1 h3{font-size:58px}
    #banner-slider-demo-18 .content-1 h3 b{margin-top:-17px}
    #banner-slider-demo-18 .content-1 em{font-size:14px;margin-left:3px}
    #banner-slider-demo-18 .content-1 h4{font-size:26px}
    #banner-slider-demo-18 .content-1 h5{font-size:14px;margin-top:-2px}
    #banner-slider-demo-18 .content-2{left:20px;bottom:20px}
    #banner-slider-demo-18 .content-2>div{padding:15px 10px}
    #banner-slider-demo-18 .content-2>div:first-child{margin:-2px 0;padding-right:20px}
    #banner-slider-demo-18 .content-2 p{font-size:15px;margin-right:1px}
    #banner-slider-demo-18 .content-2 h3{font-size:38px}
    #banner-slider-demo-18 .content-2 em{font-size:12px;margin-left:2px}
    #banner-slider-demo-18 .content-2 h4{font-size:26px}
    #banner-slider-demo-18 .content-2 h5{font-size:13px;margin-top:-2px}
    #banner-slider-demo-18 .content-2 a{font-size:10px;margin-left:-6px}
}
@media (max-width:640px){
    #banner-slider-demo-18 .content-1{padding:11px 7px 5px;margin-right:-53px;margin-top:-32px}
    #banner-slider-demo-18 .content-1>div:first-child{padding-left:2px}
    #banner-slider-demo-18 .content-1 p{font-size:7px;margin-right:2px}
    #banner-slider-demo-18 .content-1 h3{font-size:22px}
    #banner-slider-demo-18 .content-1 h3 b{margin-top:-6px}
    #banner-slider-demo-18 .content-1 em{font-size:6px;margin-left:1px}
    #banner-slider-demo-18 .content-1 h4{font-size:12px}
    #banner-slider-demo-18 .content-1 h5{font-size:6px;margin-top:-1px}
    #banner-slider-demo-18 .content-2{left:8px;bottom:8px}
    #banner-slider-demo-18 .content-2>div{padding:3px 6px}
    #banner-slider-demo-18 .content-2>div:first-child{margin:-1px 0;padding-right:9px}
    #banner-slider-demo-18 .content-2 p{font-size:7px;margin-right:1px}
    #banner-slider-demo-18 .content-2 h3{font-size:16px}
    #banner-slider-demo-18 .content-2 em{font-size:6px;margin-left:1px}
    #banner-slider-demo-18 .content-2 h4{font-size:12px}
    #banner-slider-demo-18 .content-2 h5{font-size:6px;margin-top:-1px}
    #banner-slider-demo-18 .content-2 a{font-size:6px;margin-left:-3px}
}

.single-images .single-image-label{font-size:17px;text-align:center;color:#818385;line-height:1.4;padding:10px 0;font-weight:600}
.single-images .caption{background-color:#a1a2a3;color:#fff;font-size:14px;line-height:35px;text-align:center}

#banner-slider-demo-16 .slide1-content,#banner-slider-demo-16 .slide2-content{padding-right:256px}
#banner-slider-demo-16 .text-content{text-align:right}
#banner-slider-demo-16 .text-content em{font-size:26.26px;margin:0;margin-bottom:-10px}
#banner-slider-demo-16 .text-content h2{font-size:79.12px;letter-spacing:-4px}
#banner-slider-demo-16 .text-content p {margin:0}
#banner-slider-demo-16 .text-content p span{font-size:23.64px;padding-right:6px}
#banner-slider-demo-16 .text-content p a{font-size:16px;padding:10px 28px;margin-right:10px;margin-top:5px}
@media (max-width:991px){
    #banner-slider-demo-16 .slide1-content,#banner-slider-demo-16 .slide2-content{padding-right:0}
    #banner-slider-demo-16 .text-content em{font-size:18px;margin:0;margin-bottom:-8px}
    #banner-slider-demo-16 .text-content h2{font-size:60px;letter-spacing:-3px}
    #banner-slider-demo-16 .text-content p {margin:0}
    #banner-slider-demo-16 .text-content p span{font-size:18px;padding-right:6px}
    #banner-slider-demo-16 .text-content p a{font-size:12px;padding:8px 20px;margin-right:10px;margin-top:5px}
}
@media (max-width:767px){
    #banner-slider-demo-16 .text-content em{font-size:13px;margin:0;margin-bottom:-5px}
    #banner-slider-demo-16 .text-content h2{font-size:40px;letter-spacing:0px}
    #banner-slider-demo-16 .text-content p {margin:0}
    #banner-slider-demo-16 .text-content p span{font-size:14px;padding-right:2px}
    #banner-slider-demo-16 .text-content p a{font-size:9px;padding:5px 11px;margin-right:5px;margin-top:5px}
}
@media (max-width:480px){
    #banner-slider-demo-16 .text-content em{font-size:10px;margin-bottom:0}
    #banner-slider-demo-16 .text-content h2{font-size:25px;letter-spacing:0px}
    #banner-slider-demo-16 .text-content p {margin:0}
    #banner-slider-demo-16 .text-content p span{font-size:12px;padding-right:1px;display:block}
    #banner-slider-demo-16 .text-content p a{font-size:9px;padding:5px 11px;margin-right:0;margin-top:5px;float:right !important}
}

/*** Header Type 10 - Side Header ***/
.container {
    max-width: 100%;
}
.page-header.type10 {
    background-color: #383734;
}
@media (max-width:1199px) and (min-width:992px){
    .page-header.type10 .sw-megamenu.navigation.side-megamenu li.level0.fullwidth > .submenu {
        width: 750px;
    }
}
@media (min-width:992px){
    .page-header.type10 .minicart-wrapper .block-minicart {
        left: auto;
        right: -15px;
    }
    .page-header.type10 .minicart-wrapper .block-minicart:before {
        left: auto;
        right: 26px;
    }
    .page-header.type10 .minicart-wrapper .block-minicart:after {
        left: auto;
        right: 25px;
    }
    header.page-header.type10 .panel.wrapper .header.panel > .header.links {
        float: none;
        display: block;
    }
    header.page-header.type10 .panel.wrapper .header.panel > .header.links > li {
        display: block;
        color: #fff;
    }        
    header.page-header.type10 .panel.wrapper .header.panel > .header.links > li > a, header.page-header.type10 .panel.wrapper .header.panel > .header.links > li > span {
        color: #fff;
        border: 0;
        padding: 0 5px;
        display: block;
        border-top: 1px solid #575757;
        line-height: 40px;
    }
    header.page-header.type10 .panel.wrapper .header.panel > .header.links > li > span {
        border-top: 0;
    }
    body.side-header .page-wrapper {
        padding-right: 256px;
    }
    header.page-header.type10.fixed-bottom {
        position: fixed;
        top: auto;
        bottom: 0;
    }
    body.side-header .page-wrapper > .breadcrumbs.fixed-position {
        position: fixed;
        width: 100%;
        z-index: 999;
        top: 0;
    }
    body.side-header .page-wrapper > .breadcrumbs .items {
        margin: 0;
        max-width: none;
    }
}
@media (max-width:992px) and (min-width:768px){
    header.page-header.type10 {
        position: relative;
        width: auto;
        height: auto;
        min-height: 0;
        text-align: right;
        padding: 10px 15px;
    }
    header.page-header.type10 .header.content {
        padding: 0;
    }
    header.page-header.type10 .logo {
        max-width: 110px;
    }
    header.page-header.type10 .custom-block-area {
        display: none;
    }
    header.page-header.type10 .block-search {
        position: absolute;
        left: 0;
        top: 10px;
        margin-bottom: 0;
    }
    header.page-header.type10 .panel.wrapper {
        position: absolute;
        left: 15px;
        top: 10px;
    }
    header.page-header.type10 .header.panel > .header.links > li > a, header.page-header.type10 .header.panel > .header.links > li > span {
        color: #fff;
    }
    header.page-header.type10 .navigation .level0 > .level-top {
        color: #fff;
        line-height: 42px;
    }
}
/*** Header Type 10 - Side Header ***/

.sticky-header .sw-megamenu.navigation li.level0.fl-right {
    float: none;
}
#totop{height:40px;position:fixed;left:15px;width:40px;z-index:9999;bottom:0;background-color:#404040;font-size:16px;color:#fff;text-align:center;line-height:1;padding:11px 0;display:none;border-radius:5px 5px 0 0}
#totop:hover{background-color:#555}

i.ajax-loader{display:inline-block;vertical-align:middle;border:1px solid #08c;border-radius:20px;border-bottom-color:transparent!important}
i.ajax-loader.small{width:16px;height:16px;border-width:2px 0 1px 3px}
i.ajax-loader.large{width:32px;height:32px;border-width:3px 0 2px 5px}
@media (min-width:768px){
    .page-wrapper .page-header.type12 .header.content {
        padding-right: 200px;
    }
    .onepage-category > .columns {
        padding-right: 180px;
        padding-left: 50px;
    }
    #maincontent.onepage-category {
        position: relative;
    }
}
.page-wrapper .page-header.type12.sticky-header {
    position: fixed;
    background-color: #000;
    z-index: 6;
    width: 100%;
}
.page-header.type12.sticky-header .header.panel .custom-block > a {
    color: #fff;
}
.page-header.type12.sticky-header .header.panel .search-area > a {
    color: #fff;
}
.page-header.type12.sticky-header .header.panel .top-panel .top-links-area > a {
    color: #fff;
}
.cms-index-index .onepage-category {
    display: flex;
    flex-wrap: wrap;
}

.onepage-category > .category-list {
    width: 100px;
    text-align: right;
    position: relative;
    float: right;
    background: #000;
    padding: 46px 0 146px 0;
    z-index: 5;
}

.onepage-category > .category-list > ul {
    position: relative;
    z-index: 2;
    list-style: none;
    padding: 0;
    transition: all 0.3s;
    padding-top: 30px;
}

.onepage-category > .category-list > ul > li {
    margin-bottom: 47px;
}

.onepage-category > .category-list > ul > li:last-child {
    margin-bottom: 0;
}

.onepage-category > .category-list > ul > li > a {
    color: #fff;
    width: auto;
    line-height: 98px;
    display: inline-block;
    white-space: nowrap;
    position: relative;
    transition: all 0.3s;
}

.onepage-category > .category-list > ul > li > a > em {
    font-size: 32px;
    width: 100px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.onepage-category > .category-list > ul > li > a > em > img {
    vertical-align: middle;
}

.onepage-category > .category-list > ul > li > a > span {
    display: inline-block;
    vertical-align: middle;
    opacity: 0;
    visibility: hidden;
    width: 0;
    transition: all 0.3s;
    font-size: 16px;
    font-weight: 600;
    position: relative;
    overflow: hidden;
}

.onepage-category > .category-list > ul > li > a:after {
    content: "";
    width: 16px;
    height: 16px;
    position: absolute;
    display: block;
    left: -15px;
    top: 50%;
    margin-top: -8px;
    border: 8px solid transparent;
    transition: all 0.3s;
}

.onepage-category > .category-list > ul > li > a:hover, .onepage-category > .category-list > ul > li > a.active {
    background-color: #00d59d;
}

.onepage-category > .category-list > ul > li > a:hover > span {
    opacity: 1;
    visibility: visible;
    width: auto;
    padding-left: 50px;
}

.onepage-category > .category-list > ul > li > a:hover:after, .onepage-category > .category-list > ul > li > a.active:after {
    border-right-color: #00d59d;
}

.onepage-category > .category-details {
    float: left;
    width: calc(100% - 100px);
    padding: 0 100px;
    padding-bottom: 146px;
    min-height: 80vh;
}

.onepage-category .category-detail {
    position: relative;
}

.onepage-category .category-detail .title-menu {
    position: relative;
}

.onepage-category .category-detail .title-menu > a {
    font-size: 26px;
    color: #000;
    text-decoration: none;
    line-height: 100px;
    display: inline-block;
    font-weight: 300;
    margin-top: 70px;
}

.onepage-category .category-detail .title-menu > a > span {
    display: inline-block;
    vertical-align: middle;
}

.onepage-category .category-detail .title-menu > a.parent:after {
    display: inline-block;
    content: "\f813";
    font-family: "porto-icons";
    margin-right: 18px;
    font-size: 18px;
    vertical-align: middle;
    line-height: 36px;
}

.onepage-category .category-detail .title-menu > a.parent.opened:after {
    content: "\f810";
}

.onepage-category .category-detail .title-menu > .menu-popup {
    position: absolute;
    right: -25px;
    top: 100%;
    display: none;
    width: calc(100% + 50px);
    z-index: 3;
    background-color: #fff;
    border: 1px solid #bebebe;
    border-radius: 5px;
    padding: 50px 0;
}

.onepage-category .category-detail .title-menu > .menu-popup:before {
    content: "";
    border: 8px solid transparent;
    width: 16px;
    height: 16px;
    display: block;
    border-bottom-color: #bebebe;
    position: absolute;
    top: -16px;
    right: 90px;
}

.onepage-category .category-detail .title-menu > .menu-popup:after {
    content: "";
    border: 7px solid transparent;
    width: 14px;
    height: 14px;
    display: block;
    border-bottom-color: #fff;
    position: absolute;
    top: -13px;
    right: 91px;
}

.onepage-category .category-detail .menu-popup ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.onepage-category .category-detail .menu-popup > ul {
    display: flex;
    flex-wrap: wrap;
}

.onepage-category .category-detail .menu-popup > ul > li {
    float: right;
    border-right: 1px solid #bebebe;
    margin: 10px 0;
    padding: 30px 0;
}

.onepage-category .category-detail .menu-popup li.menu-item {
    margin-bottom: 0;
}
.onepage-category .category-detail .menu-popup > ul.columns5 > li {
    width: 20%;
    padding-left: 4%;
    padding-right: 4%;
}

.onepage-category .category-detail .menu-popup > ul.columns5 > li:nth-child(5n+1) {
    border-right: 0;
    clear: right;
}

.onepage-category .category-detail .menu-popup ul > li> a {
    color: #000;
    font-size: 16px;
    line-height: 2.5;
}

.onepage-category .category-detail .menu-popup > ul > li> a {
    font-weight: 700;
    text-transform: uppercase;
}

.onepage-category .category-detail .products-area {
    margin: 0 -10px;
}

.onepage-category .category-detail .products-area .category-link {
    float: left;
    margin-top: -70px;
    margin-left: 10px;
    position: relative;
    z-index: 2;
    min-width: 119px;
    height: 40px;
    border: 2px solid #000;
    color: #000;
    border-radius: 5px;
    line-height: 36px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    transition: all 0.3s;
}

.onepage-category .category-detail .products-area .category-link:hover {
    background-color: #000;
    color: #fff;
}

.onepage-category .category-detail .products div.item {
    float: right;
    padding: 10px;
}

.onepage-category .category-detail .product-item-photo {
    border: 0;
    padding: 0;
    border-radius: 0;
}

.onepage-category .category-detail .products div.item .product-item-photo {
    width: 100%;
    min-height: 60px;
    display: block;
    position: relative;
    z-index: 0;
    overflow: hidden;
    border-radius: 0;
    background: #fff;
}

.onepage-category .category-detail .products div.item .product-item-details {
    padding: 15px 0;
    text-align: right;
}

.onepage-category .category-detail .products div.item .product-item-details .product-item-name {
    margin: 0 0 3px 0;
}

.onepage-category .category-detail .products div.item .product-item-details .product-item-name a {
    font-size: 14px;
    font-weight: 600;
    color: #000;
}
.onepage-category .category-detail .products div.item .product-item-details .price-box {
    margin: 0;
}
.onepage-category .category-detail .products div.item .product-item-details .price {
    font-weight: 300;
    font-size: 30px;
}

.onepage-category .category-detail .products div.item .product-item-details .old-price .price {
    font-size: 20px;
}

.onepage-category .category-detail .product-item-photo:before {
    content: "";
    display: block;
    background: #000;
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
}

.onepage-category .category-detail .product-item-info:hover .product-item-photo:before {
    opacity: 0.7;
    visibility: visible;
}

.onepage-category .category-detail .product-item-photo .product-item-inner {
    padding: 0;
    z-index: 3;
    right: 15px;
    bottom: 15px;
}

.onepage-category .category-detail .product-item-photo .product-item-inner .product-item-actions a, .onepage-category .category-detail .product-item-photo .product-item-inner .product-item-actions > .actions-primary .tocart {
    background-color: transparent;
    border-color: #fff;
    color: #fff;
    width: 50px;
    height: 50px;
    line-height: 47px;
    font-size: 18px;
    margin: 0 1px;
}

.onepage-category .category-detail .product-item .tocart:before {
    font-size: 21px;
    display: inline-block;
}

.onepage-cat.category-list {
    position: absolute;
    right: 0;
    top: 0;
    min-height: 100%;
}

body > .onepage-cat.category-list {
    display: none;
}

.onepage-category > .category-list > ul.fixed-top {
    position: fixed;
    right: 0;
    top: 70px;
}

.onepage-category > .category-list > ul.fixed-bottom {
    position: fixed;
    right: 0;
    bottom: 0;
}

.onepage-category .additional-content img {
    max-width: 100%;
}

.onepage-category .menu-popup a > span {
    position: relative;
}

.onepage-category .menu-popup a > span > span.cat-label {
    top: 3px;
    left: -35px;
    font: inherit;
    font-size: 9px;
    padding: 2px;
    z-index: 1;
    border-radius: 2px;
    line-height: 1;
    border: 1px solid #777;
    position: absolute;
}

#banner-slider-demo-19 .slide-content h2 {
    font-size: 80px;
    font-weight: 800;
    line-height: 0.9;
    letter-spacing: -6px;
    margin-right: -5px;
}

#banner-slider-demo-19 .slide-content p {
    font-size: 20px;
    margin-bottom: 50px;
    font-weight: 300;
}

#banner-slider-demo-19 .slide-content a.btn-line {
    color: #000;
    font-size: 14px;
    font-weight: 700;
    border: 2px solid #000;
    padding: 0 34px;
    height: 57px;
    display: inline-block;
    line-height: 53px;
    border-radius: 8px;
    text-decoration: none;
}

#banner-slider-demo-19 .slide-content a.btn-line:hover {
    color: #fff;
    background-color: #000;
}

.category-description img {
    max-width: 100%;
}
.page-header.type12:not(.sticky-header) .header.panel .block-search input {
    background: transparent;
}
.page-header.type12.sticky-header .header.panel .top-panel .links > li > a, .page-header.type12.sticky-header .header.panel .top-panel .links > li > span {
    color: #fff;
}
.category-detail .product-item-info:hover .product-item-inner {
    visibility: visible;
    opacity: 1;
}
@media(max-width:1439px) {
    .page-header.type12 .header.panel .top-panel .top-links-area {
        position: relative;
    }
    
    .page-header.type12 .header.panel .top-panel .top-links-area > a {
        display: inline-block;
        text-transform: uppercase;
        font-size: 11px;
        font-weight: 700;
    }
    
    .page-header.type12 .header.panel .top-panel .top-links-area .links {
        position: absolute;
        right: -10px;
        top: 100%;
        text-align: right;
        background-color: #fff;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0 0 3px rgba(0,0,0,0.25);
        margin-top: 10px;
        display: none;
    }
    
    .page-header.type12 .header.panel .top-panel .top-links-area .links:before {
        content: "";
        border: 6px solid;
        border-color: transparent transparent #fff transparent;
        z-index: 99;
        position: absolute;
        right: 10px;
        top: -12px;
    }
    
    .page-header.type12 .header.panel .top-panel .top-links-area .links:after {
        border: 7px solid;
        border-color: transparent transparent #bbb transparent;
        z-index: 98;
        content: "";
        position: absolute;
        right: 9px;
        top: -14px;
    }
    
    .page-header.type12 .header.panel .top-panel .top-links-area .links > li {
        float: none;
        white-space: nowrap;
    }
    
    .page-header.type12 .header.panel .top-panel .top-links-area .links > li > a, .page-header.type12 .header.panel .top-panel .top-links-area .links > li > span {
        padding: 0;
    }
}
@media(max-width:1199px) {
    .page-header.type12 .header.content .header.panel {
        margin-top: -13px;
    }
    .page-header.type12 .header.panel .top-panel .search-area {
        margin: 0;
    }
    .page-header.type12 .header.panel .top-panel .search-area > a {
        display: inline-block;
    }
    .page-header.type12 .header.panel .top-panel .search-area > .block-search {
        display: none;
        position: absolute;
        left: -15px;
        top: 100%;
        margin-top: 10px;
    }
    .page-header.type12 .header.panel .top-panel .block-search input {
        background-color: #fff;
    }
    #banner-slider-demo-19 .slide-content h2 {
        font-size: 40px;
        line-height: 0.9;
        letter-spacing: -3px;
        margin-right: -2.5px;
    }

    #banner-slider-demo-19 .slide-content p {
        font-size: 12px;
        margin-bottom: 20px;
    }

    #banner-slider-demo-19 .slide-content a.btn-line {
        font-size: 10px;
        padding: 0 16px;
        height: 30px;
        line-height: 26px;
        border-radius: 4px;
    }
    .onepage-cat.category-list + .main.container {
        padding: 0 50px;
    }

    .onepage-category .category-detail .menu-popup ul > li> a {
        font-size: 11px;
    }

    .onepage-category .category-detail .menu-popup > ul.columns5 > li {
        padding: 10px 2%;
    }

    .onepage-category .category-detail .title-menu > .menu-popup {
        padding: 10px 0;
    }

    .onepage-category .category-detail .title-menu > a {
        margin-top: 46px;
    }
}

@media(max-width:767px) {
    .cms-index-index .page-header.type12 {
        position: absolute;
        width: 100%;
        right: 0;
        top: 0;
        background: transparent;
    }
    .page-header.type12 .header.panel .top-panel .top-links-area, .page-header.type12 .header.panel .top-panel .custom-block, .page-header.type12 .header.panel .top-panel .search-area > a {
        display: none;
    }
    .page-header.type12 .header.panel .top-panel .search-area > .block-search {
        display: inline-block;
        position: static;
        float: left;
        margin: 0;
    }
    .onepage-category, .cms-index-index .onepage-category {
        display: block;
    }

    .onepage-category > .category-list {
        width: auto;
        float: none;
        padding: 0;
    }

    .onepage-category > .category-list > ul {
        padding: 0;
    }

    .onepage-category > .category-list > ul > li {
        margin: 0;
        display: inline-block;
    }

    .onepage-category > .category-list > ul > li > a:hover > span,.onepage-category > .category-list > ul > li > a:after {
        display: none;
    }

    .onepage-cat.category-list + .main.container {
        float: none;
    }

    .onepage-cat.category-list + .main.container {
        padding: 0 15px;
    }

    .onepage-cat.category-list + .main.container {
        width: auto;
    }

    .onepage-category > .category-details {
        float: none;
        width: auto;
        padding: 0 15px;
    }

    .onepage-category > .category-list > ul {
        position: static !important;
    }

    .onepage-category .category-detail .menu-popup > ul {
        display: block;
    }

    .onepage-category .category-detail .menu-popup > ul.columns5 > li {
        width: 50%;
        padding: 10px 15px;
    }

    .onepage-category .category-detail .menu-popup > ul.columns5 > li:nth-child(5n+1) {
        border-right: 1px solid #bebebe;
        clear: none;
    }

    .onepage-category .category-detail .menu-popup > ul.columns5 > li:nth-child(2n+1) {
        border-right: 0;
        clear: right;
    }

    .onepage-category .category-detail .menu-popup ul > li> a {
        font-size: 14px;
    }
}