
<?php $rma = $block->getRmaDetail();
	$id = $rma->getRmaId();
	$order = $block->getOrder($rma->getOrderId());
	$helper = $this->helper("Webkul\Rmasystem\Helper\Data");

?>
<form method="post" action="<?php echo $this->getUpdateUrl(); ?>" id="edit_form" enctype="multipart/form-data" data-mage-init='{"validation":{}}'>
	<!-- <fieldset class="fieldset admin__fieldset fieldset-wide"> -->
	<input type="hidden" value="<?php echo $block->getFormKey() ?>" name="form_key"/>
	<input type="hidden" value="<?php echo $id ?>" name="rma_id"/>
	<input type="hidden" value="<?php echo $order->getId() ?>" name="order_id"/>
		<section class="admin__page-section order-view-account-information">
		<div class="admin__page-section-item order-information">
			<div class="admin__page-section-content">
			<table class="admin__table-secondary order-information-table">
				<tbody>
					<tr>
						<th><?php echo __("Order Id"); ?></th>
						<td><a href="<?php echo $this->getUrl('sales/order/view/', ['_secure' => $this->getRequest()->isSecure()]).'order_id/'.$rma->getOrderId(); ?>">#<?php echo $rma->getIncrementId();?></a></td>
					</tr>
					<?php if(!$rma->getResolutionType()==3): ?>
					<tr>
						<th><?php echo __("Package Condition"); ?></th>
						<td>
							<?php if($rma->getPackageCondition() == 0) {
			                	echo "<p>".__("Open")."</p>";
			                } else {
			                	echo "<p>".__("Packed")."</p>";
							} ?>
						</td>
					</tr>
				<?php endif; ?>
					<tr>
						<th><?php echo __("Created On"); ?></th>
						<td><p><?php echo $block->formatDate($rma->getCreatedAt(),\IntlDateFormatter::MEDIUM, true); ?></p></td>
					</tr>
					<tr>
						<th><?php echo __("Customer Consignment Number"); ?></th>
						<td><?php echo $rma->getCustomerConsignmentNo(); ?></td>
					</tr>
					<tr>
						<th><?php echo __("Admin Consignment Number"); ?></th>
						<td><input id="wk_rma_consignment_no" value="<?php echo $rma->getAdminConsignmentNo(); ?>" type="text" name="admin_consignment_no" class="admin__control-text"/></td>
					</tr>
					<tr>
						<th>
							<h4><?php echo __("Additional Image(s)"); ?></h4>
							
						</th>
						<td>
							<div id="wk_rma_add_images_container">
						<?php
							$images = $block->getImages();
							foreach ($images as $filename) {
								$getfilename = explode("/",$filename);
								$justfname = $block->getBaseUrl()."/".end($getfilename);
								echo "<img class='wk_rma_add_images' alt='".end($getfilename)."' src='".$justfname."'/>";
							}	?>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
			</div>
		</div>
			<div class="admin__page-section-item order-account-information">
			<div class="admin__page-section-content">
				<table class="admin__table-secondary order-account-information-table">
				<tbody>
					<tr>
						<th><?php echo __("Return Product Status"); ?></th>
						<td>
							<span>
									<?php echo "<strong class='wk_rma_status_pending'>".$helper->getRmaStatusTitle($rma->getStatus())."</strong>";?>
							</span>
						</td>
					</tr>
					<tr>
						<th><?php echo __("Product Delivery Status"); ?></th>
						<td>
							<span>
									<?php echo "<strong class='wk_rma_status_pending'>".$helper->getRmaOrderStatusTitle($rma->getCustomerDeliveryStatus())."</strong>";?>
							</span>
						</td>
					</tr>
					<tr>
						<th><?php echo __("Resolution Type"); ?></th>
						<td>
							<?php if($rma->getResolutionType() == 0) {
		                		echo "<p>".__("Refund")."</p>";
							} elseif($rma->getResolutionType() == 1) {
								echo "<p>".__("Exchange")."</p>";
							} else {
								echo "<p>".__("Cancel Item")."</p>";
							}?>
						</td>
					</tr>
					<tr>
						<th><?php echo __("Additional Information"); ?></th>
						<td><p><?php echo nl2br(strip_tags($rma->getAdditionalInfo())); ?></p></td>
					</tr>
					<?php if($rma->getResolutionType() == 1)	{?>
					<tr>
						<th><?php echo __("Admin Consignment Number"); ?></th>
						<td><p><?php echo $rma->getAdminConsignmentNo(); ?></p></td>
					</tr>
					<?php } ?>
					<!-- custom field block -->
					<?php echo $this->getChildHtml('rma.allrma.customfield'); ?>
				</tbody>
			</table>
		    </div>
		</div>
	    </section>
			<div id="view-rma-component" data-bind="scope:'view-rma-component'" class="field">
					<!-- ko template: getTemplate() --><!-- /ko -->
					<script type="text/x-magento-init">
					{
							"#view-rma-component": {
									"Magento_Ui/js/core/app":  <?php /* @escapeNotVerified */ echo $block->getJsLayout();?>
							}
					}
					</script>
			    <section class="admin__page-section">
			    <div class="admin__page-section-title" style="clear:both">
		        	<span class="title"><?php echo __("Item(s) Requested for Return Product"); ?></span>
		    	</div>
		    	<div class="admin__table-wrapper">
			    <table class="data-table">
				    <thead>
				        <tr>
				            <th><?php echo __("Product Name"); ?></th>
				            <th><?php echo __("SKU"); ?></th>
				            <th class="a-right"><?php echo __("Return Qty"); ?></th>
				            <th class="a-right"><?php echo __("Reason"); ?></th>
				            <th class="a-right"><?php echo __("Product Price"); ?></th>
										<?php if($rma->getResolutionType() == 0): ?>
											<th class="a-right"><?php echo __("Refund Item"); ?></th>
										<?php endif; ?>
				        </tr>
				    </thead>
					<?php 	$orderItems = $block->getItemCollection($id);
									$download_count=count($orderItems);
									$download=0;
									$itemIds = [];
									foreach($orderItems as $item)	{
										$itemIds[] = $item->getItemId();
										$mageItem = $block->getSalesOrderItemDetail($item->getItemId());
										$product = $block->getProductDetail($mageItem->getProductId());
										if($product->getTypeId()=='downloadable' || $product->getTypeId()=='virtual')
											$download++;
										$reason = $block->getReason($item->getReasonId())->getReason();
										if (!$reason) {
											$reason = $item->getRmaReason();
										}
										?>
										
							    		<tbody>
						            <tr class="border">
												    <td><h3 class="product-name"><?php echo $mageItem->getName(); ?></h3></td>
												    <td><?php echo $mageItem->getSku(); ?></td>
												    <td class="a-right"><?php echo $item->getQty(); ?></td>
												    <td class="a-right"><?php echo $reason; ?></td>
				                    <td class="a-right"><?php echo $order->formatPrice($mageItem->getPrice()); ?></td>
														<?php
														if ($rma->getResolutionType() == 0) :
															if($block->canCreateCreditMemo($rma->getOrderId(), $mageItem->getSku())):
															$totalPrice = $mageItem->getPrice() * $item->getQty();
															?>
															<td class="a-right">
															<div class="admin__field admin__field-option">
																	<input type="hidden" name="credit_memo_item[<?php echo $mageItem->getId() ?>][price]" value="<?php echo $mageItem->getPrice(); ?>" />
																	<input type="hidden" name="credit_memo_item[<?php echo $mageItem->getId() ?>][qty]" value="<?php echo $item->getQty(); ?>" />
                                  <input name="credit_memo_item[<?php echo $mageItem->getId() ?>][is_return]" type="checkbox" id="credit_memo_item" class="admin__control-checkbox"  data-bind="event: {change: booleanValue}" value="0">
																	<label class="admin__field-label" for="history_visible"></label>
                              </div>
														</td>
													<?php else : ?>
															<td class="a-right"><?php echo __("Refunded"); ?></td>
													 <?php endif;
													 endif; ?>
													</tr>
					            </tbody>
							<?php 	} ?>
		        </table>
		        </div>
		    </section>
			<div id="wk_rma_conversation_container">
					<div class="conversation-block" style="float:left;width:40%;">
						<div class="admin__page-section-item-title">
                <span class="title"><?php echo __('Return Product History & Conversation') ?></span>
            </div>
		<?php 	$collection = $this->getConvsersationCollection($rma->getRmaId());
						if($rma->getCustomerId() > 0){
							$customer = $block->getCustomerDetail($rma->getCustomerId());
							$customerName = $customer->getFirstname()." ".$customer->getLastname();
						}
						else {
							$customerName = $rma->getGuestEmail()." (".__("Guest").")";
						}
		        foreach ($collection as $eachconver) {	?>
		        	<div class="wk_rma_onereply">
				        <span class="wk_rma_onereply_head <?php if($eachconver->getSender() == 'customer' || $eachconver->getSender() == 'guest') echo "wk_rma_onereply_customer";?>">
				            <span class="wk_rma_onereply_head_left"><?php echo $block->formatDate($eachconver->getCreatedAt(),\IntlDateFormatter::FULL); ?></span>
										<span class="wk_rma_onereply_head_right">
									<?php if($eachconver->getSender() == 'customer' || $eachconver->getSender() == 'guest') {
												echo __($customerName);
										} else {
												echo __("Admin");
										} ?></span>
				        </span>
						<?php if($eachconver->getSender() == 'default'): ?>
							<div class="wk_rma_onereply_cntnt admin">
								<span><?php echo nl2br(strip_tags($eachconver->getMessage())); ?></span></br>
								<?php if($eachconver->getAttachment() != ''){ ?>
									<a href="<?php echo $block->getUrl('rmasystem/allrma/downloadfile/', ['_secure' => $this->getRequest()->isSecure(), 'id'=> $rma->getId(), 'file_name' => $eachconver->getAttachment(), 'conv' => '1']) ?>" target="_blank">
										<span class="wk-icon-attachment"></span>
										<?php echo __('Download'); ?>
									</a>
								<?php } ?>
							</div>
						<?php else: ?>
								<p class="wk_rma_onereply_cntnt">
									<span><?php echo nl2br(strip_tags($eachconver->getMessage())); ?></span></br>
									<?php if($eachconver->getAttachment() != ''){ ?>
										<a href="<?php echo $block->getUrl('rmasystem/allrma/downloadfile/', ['_secure' => $this->getRequest()->isSecure(), 'id'=> $rma->getId(), 'file_name' => $eachconver->getAttachment(), 'conv' => '1']) ?>" target="_blank">
											<span class="wk-icon-attachment"></span>
											<?php echo __('Download'); ?>
										</a>
										
									<?php } ?>
								</p>
						<?php endif; ?>
				    </div>
		<?php   }	?>
					</div>
					<fieldset class="fieldset admin__fieldset" style="width:50%;float:right;" data-hasrequired="<?php /* @escapeNotVerified */ echo __('* Required Fields') ?>">
								<div class="admin__field field field-reason">
									<label class="label admin__field-label" for="reason_reason"><span><?php echo __('Enter Message'); ?></span></label>
										<div class="admin__field-control control">
											<textarea class="textarea admin__control-textarea required" name="message" id="reason" rows="2" cols="15"></textarea>
										</div>
								</div>
								<div class="admin__field field">
									<label class="label admin__field-label" for="attachment"><span><?php echo __('Send Attachment'); ?></span></label>
									<div class="admin__field-control control">
										<input type="file" name="attachment" />
									</div>
								</div>
								<div class="admin__field field">
									<label class="label admin__field-label" for="wk_rma_solved"><span><?php echo __("Check to receive email"); ?></span></label>
									<div class="admin__field-control control">
										<input type="checkbox" name="receive_email" id="wk_rma_email"/>
									</div>
								</div>
							<?php if($rma->getResolutionType() == 1)	{ ?>
							<?php }	?>
							<?php if ($rma->getFinalStatus() == 0): ?>
									<div class="admin__field field field-reason">
										<input type="hidden" name="item_ids" value="<?php echo implode(',', $itemIds); ?>">
										<label class="label admin__field-label" for="reason_reason"><span><?php echo __('Select Status'); ?></span></label>
										<div class="admin__field-control">
											<select class="required-entry _required select admin__control-select select_status"
											 name="admin_status"
											 class="admin__control-select"
											 data-bind="event: {change: statusChange}, afterRender: onLoadStatusChange">
				                  <?php foreach ($block->getAllStatus($rma->getResolutionType()) as $key => $status): ?>
				                      <?php if($rma->getAdminStatus() == $key): ?>
				                          <option value="<?php echo $key;?>" selected><?php echo __($status); ?></option>
				                      <?php else: ?>
				                          <option value="<?php echo $key;?>"><?php echo __($status); ?></option>
				                      <?php endif; ?>
				                  <?php endforeach; ?>
				              </select>
										</div>
									</div>
							<?php endif; ?>
							<?php if($rma->getFinalStatus() == 0): ?>
						   <?php if($rma->getResolutionType() == 0): ?>
								 <!-- ko if: showPayment() > 0 -->
									<div class="admin__field field field-reason _required">
										<label class="label admin__field-label" for="reason_reason"><span><?php echo __('Payment Type'); ?></span></label>
										<div class="admin__field-control">
											<select class="required-entry _required select admin__control-select select_status"
													name="payment_type"
													class="admin__control-select"
													data-bind="options: paymentType,
														optionsText: 'label',
														optionsValue: 'value',
														value: paymentTypeChange">
											</select>
										</div>
									</div>
									<!-- /ko -->
						    <?php endif; ?>
							<?php endif; ?>
							<!-- ko if: showPartialField() && showPayment() > 0 -->
							<div class="admin__field field field-reason _required">
								<label class="label admin__field-label" for="reason_reason"><span><?php echo __('Partial Amount'); ?></span></label>
								<div class="admin__field-control">
										<input id="refund_amount" type="text" name="refund_amount" class="required-entry validate-number admin__control-text" style="width:50%"/>
								</div>
							</div>
							<!-- /ko -->
							<?php $collection = $block->getShippingLabelCollection();
								if(count($collection) > 0)	{ ?>
								<?php if($rma->getResolutionType() == 1): ?>
									<div class="admin__field field ship_label">
										<input type="hidden" name="item_ids" value="<?php echo implode(',', $itemIds); ?>">
										<label class="label admin__field-label" for="reason_reason"><span><?php echo __("Select Shipping Label"); ?></span></label>
										<div class="admin__field-control">
											<?php foreach ($collection as $label) {	?>
													<div class="shipping_label_each">
														<label for="<?php echo 'ra'.$label->getId(); ?>"><img src="<?php echo $block->getLabelBaseUrl().$label->getFilename(); ?>"	class="shipping_label_img"/></label>
														<input id="<?php echo 'ra'.$label->getId(); ?>" type="radio" <?php if($rma->getShippingLabel() == $label->getId()) echo "checked";?> name="shipping_label" value="<?php echo $label->getId(); ?>" class="shipping_label"/>
													</div>
											<?php }	?>

							       </div>
									</div>
								<?php endif; ?>
				<?php }	?>
						</div>
			</fieldset>
	</div>
</form>
<script>
	require([
        "jquery",
		'mage/template',
		'text!Webkul_Rmasystem/template/preview.html',
    	'Magento_Ui/js/modal/modal',
        'mage/calendar',
    ], function($, mageTemplate, thumbnailPreviewTemplate){
      	'use strict';
		$('#save').on('click',function(){
			$('#edit_form').submit();
		});
		$('.wk_rma_add_images').on('click',function(){
			var self = $(this);
			var modalHtml = mageTemplate(
                thumbnailPreviewTemplate,
                {
                    src: self.attr('src'), alt: self.attr('alt'), link: "<?php echo $block->getUrl('rmasystem/allrma/downloadfile/', ['_secure' => $this->getRequest()->isSecure(), 'id'=> $rma->getId()]) ?>"+'file_name/'+self.attr('alt'),
                    linkText: $.mage.__('Download')
                }
            );
            var previewPopup = $('<div/>').html(modalHtml);
            previewPopup.modal({
                title: $.mage.__('Return Product Image'),
                innerScroll: true,
                modalClass: '_image-box',
                buttons: []}).trigger('openModal');
		});
    });
</script>
