// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .cart-summary .block>.title:after{
        right: 16px;
        top: 16px;
        font-size: 30px;
    }
    .cart-container .form-cart .actions.main .continue{
        display: block;
        background: #19374d;
        float: left;
        padding: 7px;
        border-radius: 3px;
        color: #fff;
    }
    .fieldset>.field>.label, .fieldset>.fields>.field>.label{
        font-size: 14px;
    }
}
//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
  
}
//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .checkout-cart-index {
        .page-main .page-title-wrapper {
            text-align: left;
        }
     }
}